@model BSFramework.Application.Entity.Activity.DangerEntity
@using BSFramework.Application.Entity.PublicInfoManage
@using BSFramework.Application.Entity.Activity
@using BSFramework.Entity.WorkMeeting
@{
    ViewBag.Title = "Detail4";
    Layout = "~/Views/Shared/_FlowForm.cshtml";
    var files = (IList<FileInfoEntity>)ViewData["files"];
    string action = ViewBag.action;
}
<script src="~/Content/scripts/jquery.cxscroll.min.js"></script>
<link href="~/Content/styles/layout.css" rel="stylesheet" />
<style>
    .images-container {
        min-height: 120px;
    }

        .images-container li {
            list-style: none;
            float: left;
            padding: 0px 5px;
        }

    .yinpin li {
        list-style: none;
        float: left;
        padding: 0px 5px;
    }

    .safeImg {
        display: block;
        width: 217px;
        height: 140px;
        position: relative;
    }
</style>
<script src="@Url.Content("~/Content/scripts/layui/layui.all.js")"></script>
<link rel="stylesheet" href="~/Content/styles/static/css/index.css">
<link rel="stylesheet" href="~/Content/styles/static/css/extend.css">
<link rel="stylesheet" href="~/Content/styles/static/css/launch-activity.css" />
<link rel="stylesheet" href="~/Content/styles/static/css/before.css" />
<script src="~/Content/scripts/validator/Validform.min.js"></script>
<script src="~/Content/scripts/layui/layui.all.js"></script>
<script src="~/Content/scripts/nicescroll/nicescroll.min.js"></script>
<script src="~/Content/scripts/base.js"></script>
<script src="@Url.Content("~/Content/scripts/plugins/audiojs/audio.min.js")"></script>
<link href="~/Content/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/scripts/plugins/jqgrid/jqgrid.min.js"></script>
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>

<script>
    @{
        var flist = (IList<FileInfoEntity>)ViewData["files"];
    }
    var action = request("action")
    var json1 = {
        "data": [
@if (flist != null)
{
    foreach (var item in flist)
    {
        if (item.Description == "照片") {
                  @Html.Raw(string.Format("{{ \"src\" : \"{0}\"}},", @Url.Action("DownloadFile", "ResourceFile", new { keyValue = item.FileId, area = "PublicInfoManage" })));
        }
    }
}
        ]
    };

    function btn_evaluate() {
        var isEvaluate = 0;
        var id = $('#Id').val();
        $.SetForm({
            url: '/..@Url.Action("GetIsEvaluate", "Activity")',
            param: { keyValue: id, category: "" },
            success: function (data) {
                isEvaluate = data;
            }
        });
        //currentNode = jQuery('#tree').getCurrentNode();
        if (isEvaluate == 0) {
            //id = jQuery('#ActivityId').val();
            dialogOpen({
                id: "form1",
                title: '评价',
                url: '/../@Url.Action("Evaluate")?id=' + id + "&iframeId=" + jQuery(self.frameElement).attr('id'),
                width: "500px",
                height: "330px",
                callBack: function (iframeId) {
                    top.document.getElementById(iframeId).contentWindow.AcceptClick();
                }
            });
        } else {
            layer.msg("已评价过此活动");
        }
    }
    jQuery(function () {
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#grid').setGridWidth(($('.gridPanel').width()));
                $("#grid").setGridHeight($(window).height() - 140);
            }, 200);
            e.stopPropagation();
        });
        var id = jQuery('#Id').val();
        jQuery('#grid').jqGrid({
            colModel: [
                { label: '评价人', name: 'EvaluateUser', width: 100, align: 'center', sortable: false },
                { label: '级别', name: 'Nature', width: 100, align: 'center', sortable: false },
                { label: '评价时间', name: 'EvaluateDate', width: 100, align: 'center', sortable: false, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' } },
                { label: '评分', name: 'Score', width: 100, align: 'center', sortable: false },
                { label: '点评', name: 'EvaluateContent', align: 'center', sortable: false }
            ],
            height: $(window).height() - 700,
            autowidth: true,
            url: '@Url.Action("GetDataEvaluate")?keyValue=' + id,
            datatype: "json",
            viewrecords: true,
            gridview: true,
            sortable: false,
            rowNum: 10,
            rownumbers: true,
            pager: "#gridPager",
            gridComplete: function () {
            }
        });

        $('.box').delegate('li', 'click', function () {
            var json = {
                data: [{ src: $(this).find('img').attr("src") }]
            };
            layer.photos({
                photos: json,
                anim: 5
            })
        });
        if (!!action && action == "show") {
            $("input").attr("readonly","readonly")
        }
    });
    function AcceptClick() {
        $.SaveForm({
            url: '@Url.Action("SaveFormNew")',
            param: {},
            loading: "数据提交中...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        });

    }
    jQuery(function () {
        $('#images-container1').delegate('li', 'click', function () {
            json1.start = jQuery(this).index();
            layer.photos({
                photos: json1,
                anim: 5
            })
        });

        $('#play-audio-container1').delegate('.play-audio', 'click', function () {
            var Id = $(this).data('id');
            document.getElementById(Id).play();
        });
    });

    $fileObj = null;
    //删除附件
    function removeFile(fileName, recId, obj) {
        $.ConfirmAjax({
            msg: "确定删除吗？",
            url: "../../Works/Safetyday/RemoveFile",
            param: { recId: recId, fileName: fileName },
            success: function (data) {
                $(obj).parent().parent().remove();
            }
        })
    }
    jQuery(function () {
        var $ = jQuery,    // just in case. Make sure it's not an other libaray.

            $wrap = $('#uploader'),

            // 图片容器
            $queue = $('<div class="filelist"></div>')
                .appendTo($wrap.find('.queueList')),

            // 状态栏，包括进度和控制按钮
            $statusBar = $wrap.find('.statusBar'),

            // 文件总体选择信息。
            $info = $statusBar.find('.info'),



            // 没选择文件之前的内容。
            $placeHolder = $wrap.find('.placeholder'),

            // 总体进度条
            $progress = $statusBar.find('.progress').hide(),

            // 添加的文件数量
            fileCount = 0,

            // 添加的文件总大小
            fileSize = 0,

            // 优化retina, 在retina下这个值是2
            ratio = window.devicePixelRatio || 1,

            // 缩略图大小
            thumbnailWidth = 110 * ratio,
            thumbnailHeight = 110 * ratio,

            // 可能有pedding, ready, uploading, confirm, done.
            state = 'pedding',

            // 所有文件的进度信息，key为file id
            percentages = {},

            supportTransition = (function () {
                var s = document.createElement('p').style,
                    r = 'transition' in s ||
                        'WebkitTransition' in s ||
                        'MozTransition' in s ||
                        'msTransition' in s ||
                        'OTransition' in s;
                s = null;
                return r;
            })(),

            // WebUploader实例
            uploader;

        if (!WebUploader.Uploader.support()) {
            alert('Web Uploader 不支持您的浏览器！如果你使用的是IE浏览器，请尝试升级 flash 播放器');
            throw new Error('WebUploader does not support the browser you are using.');
        }

        // 实例化
        uploader = WebUploader.create({
            auto: true,
            pick: {
                id: '#filePicker',
                innerHTML: '点击选择文件'
            },
            dnd: '#uploader .queueList',
            paste: document.body,

            accept: {
                title: '常用文档',
                extensions: 'mp3,jpg,bmp,gif,png',
                mimeTypes: '*/*'
            },

            // swf文件路径
            swf: '/../content/scripts/plugins/webuploader/Uploader.swf',

            disableGlobalDnd: true,
            chunked: false,
            server: '../../Utility/PostFile?recId=' + '@Model.Id' + "&filePath=AppFile/Training&isDate=1",
            fileNumLimit: 5,
            fileSizeLimit: 500 * 1024 * 1024,
            fileSingleSizeLimit: 100 * 1024 * 1024
        });

        // 添加“添加文件”的按钮，
        //uploader.addButton({
        //    id: '#filePicker2',
        //    label: '继续添加'
        //});

        // 当有文件添加进来时执行，负责view的创建
        function addFile(file) {
            var $li = $('<div class="row" style="margin:10px;"><div class="col-sm-6">' + file.name + '</div><div class="col-sm-2"><a href="../../ResourceFile/DownloadFile?keyValue=-1&filename=' + encodeURI(file.name) + '&recId=' + '@Model.Id' + '\" target="_blank" style="cursor:pointer"  title="下载文件"><i class="fa fa-download"></i></a>&nbsp;&nbsp;&nbsp;<a style="cursor:pointer" onclick="removeFile(\'' + file.name + '\',\'' + '@Model.Id' + '\',this)"><i class="fa fa-trash-o"></i></a></div></div>' +
                '<p class="imgWrap"></p>' +
                '<p class="progress" style="display:none;"><span></span></p>'),


                $prgress = $li.find('p.progress span'),
                $wrap = $li.find('p.imgWrap'),
                $info = $('<p class="error"></p>');
            showError = function (code) {
                switch (code) {
                    case 'exceed_size':
                        text = '文件大小超出';
                        break;

                    case 'interrupt':
                        text = '上传暂停';
                        break;

                    default:
                        text = '上传失败，请重试';
                        break;
                }

                $info.text(text).appendTo($li);
            };

            if (file.getStatus() === 'invalid') {
                showError(file.statusText);
            } else {
                //$wrap.text('预览中');
                uploader.makeThumb(file, function (error, src) {
                    if (error) {
                        //$wrap.text('不能预览');
                        return;
                    }

                    var img = $('<img src="' + src + '">');
                    $wrap.empty().append(img);
                }, thumbnailWidth, thumbnailHeight);

                percentages[file.id] = [file.size, 0];
                file.rotation = 0;
            }

            file.on('statuschange', function (cur, prev) {
                if (prev === 'progress') {
                    $prgress.hide().width(0);
                } else if (prev === 'queued') {
                    $li.off('mouseenter mouseleave');

                }

                // 成功
                if (cur === 'error' || cur === 'invalid') {
                    console.log(file.statusText);
                    showError(file.statusText);
                    percentages[file.id][1] = 1;
                } else if (cur === 'interrupt') {
                    showError('interrupt');
                } else if (cur === 'queued') {
                    percentages[file.id][1] = 0;
                } else if (cur === 'progress') {
                    $info.remove();
                    $prgress.css('display', 'block');
                } else if (cur === 'complete') {
                    $li.append('<span class="success"></span>');
                }

                $li.removeClass('state-' + prev).addClass('state-' + cur);
            });

            $li.appendTo($queue);
        }



        function updateTotalProgress() {
            var loaded = 0,
                total = 0,
                spans = $progress.children(),
                percent;

            $.each(percentages, function (k, v) {
                total += v[0];
                loaded += v[0] * v[1];
            });

            percent = total ? loaded / total : 0;

            spans.eq(0).text(Math.round(percent * 100) + '%');
            spans.eq(1).css('width', Math.round(percent * 100) + '%');
            updateStatus();
        }

        function updateStatus() {
            var text = '', stats;

            //if (state === 'ready') {
            //    text = '选中' + fileCount + '个文件，共' +
            //            WebUploader.formatSize(fileSize) + '。';
            //} else if (state === 'confirm') {
            stats = uploader.getStats();
            //    if (stats.uploadFailNum) {
            //        text = '已成功上传' + stats.successNum + '个文件，' +
            //            stats.uploadFailNum + '个文件上传失败，<a class="retry" href="#">重新上传</a>'
            //    }

            //} else {
            stats = uploader.getStats();
            //    text = '共' + fileCount + '个（' +
            //            WebUploader.formatSize(fileSize) +
            //            '），已上传' + stats.successNum + '个';

            //    if (stats.uploadFailNum) {
            //        text += '，失败' + stats.uploadFailNum + '个';
            //    }
            //}

            //$info.html(text);
        }

        function setState(val) {
            var file, stats;

            if (val === state) {
                return;
            }



            state = val;

            switch (state) {
                case 'pedding':
                    $placeHolder.removeClass('element-invisible');
                    $queue.parent().removeClass('filled');
                    $queue.hide();
                    $statusBar.addClass('element-invisible');
                    uploader.refresh();
                    break;

                case 'ready':
                    $placeHolder.addClass('element-invisible');

                    $queue.parent().addClass('filled');
                    $queue.show();
                    $statusBar.removeClass('element-invisible');
                    uploader.refresh();
                    break;

                case 'uploading':

                    $progress.show();

                    break;

                case 'paused':
                    $progress.show();
                    break;

                case 'confirm':
                    $progress.hide();
                    stats = uploader.getStats();
                    if (stats.successNum && !stats.uploadFailNum) {
                        setState('finish');
                        return;
                    }
                    break;
                case 'finish':
                    stats = uploader.getStats();
                    if (stats.successNum) {
                        dialogMsg('上传成功！', 0);
                    } else {
                        // 没有成功的图片，重设
                        state = 'done';
                        location.reload();
                    }
                    break;
            }

            updateStatus();
        }
        uploader.onBeforeFileQueued = function (file) {


        }
        uploader.onUploadProgress = function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');

            $percent.css('width', percentage * 100 + '%');
            percentages[file.id][1] = percentage;
            updateTotalProgress();
        };

        uploader.onFileQueued = function (file) {
            fileCount++;
            fileSize += file.size;

            if (fileCount === 1) {
                //$placeHolder.addClass('element-invisible');
                $statusBar.show();
            }

            addFile(file);
            setState('ready');
            updateTotalProgress();
        };

        uploader.onFileDequeued = function (file) {
            fileCount--;
            fileSize -= file.size;

            if (!fileCount) {
                setState('pedding');
            }
            //addFile(file);
            removeFile(file);
            updateTotalProgress();

        };

        uploader.on('all', function (type) {
            var stats;
            switch (type) {
                case 'uploadFinished':
                    uploader.reset();
                    setState('confirm');
                    break;

                case 'startUpload':
                    setState('uploading');
                    break;

                case 'stopUpload':
                    setState('paused');
                    break;

            }
        });

        uploader.onError = function (code) {
            if (code == "Q_EXCEED_NUM_LIMIT") {
                dialogMsg("对不起，上传失败，超过限制数量！", 0);
            } else
                if (code == "Q_TYPE_DENIED") {
                    dialogMsg("对不起，上传失败，请检查文件格式！", 0);
                } else if (code == "F_EXCEED_SIZE") {
                    dialogMsg("对不起，上传失败，请检查文件大小！", 0);
                } else {
                    dialogMsg("对不起，上传失败，请稍后再试！", 0);
                }


        };



        $info.on('click', '.retry', function () {
            uploader.retry();
        });

        $info.on('click', '.ignore', function () {
            alert('todo');
        });

        updateTotalProgress();
    });

</script>
<div id="audio-warp" style="height:32px;width:460px;display: none;overflow:hidden;">
</div>
<div style="margin-left: 10px; margin-right: 10px;overflow-y:hidden;">
    @Html.HiddenFor(x => x.Id)
    <div class="tab-content" style="padding-top: 15px; ">
        <div id="BaseInfo" class="tab-pane active" style="padding-right:20px;">
            <table class="form">
                <tr>
                    <td class="formTitle">工作描述</td>
                    <td class="formValue">
                        @Html.TextBoxFor(x => x.JobName, new { @class = "form-control" })
                    </td>
                    @*<td class="formTitle" style="width:100px;">班组</td>
            <td class="formValue">
                @Html.TextBoxFor(x => x.GroupName, new { @class = "form-control", @readonly = "readonly" })
            </td>*@
                    <td class="formTitle">工作票编号</td>
                    <td class="formValue">
                        @Html.TextBoxFor(x => x.TicketId, new { @class = "form-control" })
                    </td>
                </tr>

                @*<tr>
            <td class="formTitle">记录编号</td>
            <td class="formValue">
                @Html.TextBoxFor(x => x.Sno, new { @class = "form-control", @readonly = "true" })
            </td>

        </tr>*@
                <tr>
                    <td class="formTitle">双述人</td>
                    <td class="formValue">
                        @Html.TextBoxFor(x => x.JobUser, new { @class = "form-control" })
                    </td>
                    <td class="formTitle">双述时间</td>
                    <td class="formValue">
                        @Html.TextBoxFor(x => x.JobTime, new { @class = "form-control", Value = string.Format("{0:yyyy-MM-dd HH:mm}", Model.JobTime) + "-" + string.Format("{0: HH:mm}", Model.OperDate) })
                    </td>
                </tr>
                @*<tr>
            <td class="formTitle">作业地点</td>
            <td class="formValue">
                @Html.TextBoxFor(x => x.JobAddress, new { @class = "form-control", @readonly = "true" })
            </td>
        </tr>*@

                <tr>
                    <td colspan="4">
                        <table style="width:100%; text-align:center;margin-top:20px;" class="table table-bordered">
                            <colgroup>
                                <col style="width:100px;" />
                                <col style="width:280px;" />
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="bg-fff">序号</th>
                                    <th class="bg-fff">双述人</th>
                                    <th class="bg-fff">岗位安全职责</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var jobusers = (IList<JobUserEntity>)ViewData["jobusers"];
                                    for (int i = 0; i < jobusers.Count(); i++)
                                    {
                                        <tr>
                                            <td style="vertical-align:middle;">
                                                @Html.Raw(i + 1)
                                            </td>
                                            <td style="vertical-align:middle;">@Html.Raw(jobusers[i].UserName)</td>
                                            <td style="vertical-align:middle;">@Html.Raw(jobusers[i].DangerDutyContent)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table style="width:100%; text-align:center;margin-top:20px;" class="table table-bordered">
                            <colgroup>
                                <col style="width:100px;" />
                                <col />
                                <col style="width:450px;" />
                                <col style="width:160px;" />
                                <col style="width:150px;" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="bg-fff">序号</th>
                                    <th class="bg-fff">危险点因素</th>
                                    <th class="bg-fff">危险点控制措施</th>
                                    <th class="bg-fff">安全确认人</th>
                                    <th class="bg-fff">是否确认</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var measures = (IList<MeasuresEntity>)ViewData["measures"];
                                    for (int i = 0; i < measures.Count(); i++)
                                    {
                                        <tr>
                                            <td style="vertical-align:middle;">
                                                @Html.Raw(i + 1)
                                            </td>
                                            <td style="vertical-align:middle;">@Html.Raw(measures[i].DangerSource)</td>
                                            <td style="vertical-align:middle;">@Html.Raw(measures[i].Measure)</td>
                                            <td style="vertical-align:middle;">@Html.Raw(measures[i].DutyMan)</td>
                                            <td style="vertical-align:middle;">@Html.Raw(measures[i].IsOver == "0" || measures[i].IsOver == null ? "否" : "是")</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>


                <tr>
                    <td class="formTitle">措施及责任人<br />变更情况</td>
                    <td class="formValue">
                        @Html.TextBoxFor(x => x.Measure, new { @class = "form-control"})
                    </td>
                    <td class="formTitle">工作中断后<br />措施及责任<br />人变更情况</td>
                    <td class="formValue">
                        @Html.TextBoxFor(x => x.StopMeasure, new { @class = "form-control" })
                    </td>
                </tr>
                @if (action.Equals("edit"))
                {

                    <tr>
                        <td class="formTitle">附件</td>
                        <td class="formValue" colspan="3">
                            <div id="uploader" style="border:2px dashed gray; margin-top:10px; height:300px;position:relative">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <div id="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        @if (files != null && files.Count > 0)
                                        {
                                            foreach (var file in files)
                                            {
                                                <div class="filelist"><div class="row" style="margin:10px;"><div class="col-sm-6">@Html.Raw(file.FileName)</div><div class="col-sm-2"><a href="../../ResourceFile/DownloadFile?keyValue=@file.FileId" target="_blank" style="cursor:pointer" title="下载文件"><i class="fa fa-download"></i></a>&nbsp;&nbsp;&nbsp;<i class="fa fa-trash-o" style="cursor:pointer" onclick="removeFile('@Html.Raw(file.FileName)','@Model.Id',this)" title="删除文件"></i></div></div></div>
                                                <p class="imgWrap"></p>
                                                <p class="progress" style="display:none;"><span></span></p>
                                            }
                                        }

                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>

                                </div>
                                <div style="position:absolute;left:40%;bottom:10px;font-size:20px;color:red;font-weight: normal">现场音频、视频。仅支持图像和视频格式的文件</div>
                            </div>
                        </td>
                    </tr>
                }
                else
                {


                    <tr>
                        <td class="formTitle">现场音频</td>
                        <td class="formValue" colspan="3">
                            <ul style="height:50px;" class="yinpin" id="play-audio-container1">
                                @{
                                    var ypfiles = files.Where(x => x.Description == "音频").ToList();
                                    for (int i = 0; i < ypfiles.Count; i++)
                                    {
                                        <li class="">
                                            <div class="play-audio" style="float:left;" data-id="@ypfiles[i].FileId" data-url="@Url.Content(ypfiles[i].FilePath)">
                                                <img src="@Url.Content("~/Content/styles/static/images/horn-icon.png")" width="24">@Html.Raw(ypfiles[i].FileName)
                                            </div>
                                            <div style="float:left;">
                                                <audio id="@ypfiles[i].FileId" preload="metadata" src="@Url.Content(ypfiles[i].FilePath)" controls style="width:483px;display:block;">该浏览器不支持音频播放</audio>
                                            </div>
                                        </li>
                                    }
                                }

                            </ul>

                        </td>
                    </tr>

                    <tr>
                        <td class="formTitle">现场照片</td>
                        <td class="formValue" colspan="3">
                            <div class="safeImg_div" style="width:890px;">
                                <div id="pic_list_1" class="scroll_horizontal" style="width:890px;">

                                    <div class="box" style="width:790px;">
                                        <ul class="list" id="Pul">
                                            @{
                                                var pics = files.Where(x => x.Description == "照片").ToList();
                                                for (int i = 0; i < pics.Count; i++)
                                                {
                                                    <li class="safeImg">
                                                        <img src="@Url.Action("DownloadFile", "ResourceFile", new { keyValue = pics[i].FileId, area = "PublicInfoManage" })" alt="" style="width:180px;height:120px;">
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                }

                <tr>
                    <td colspan="4">
                        <div class="pd-20 bg-fff bd-t-e3ebfd">
                            @{
                                if (ViewBag.type != "undo")
                                {
                                    <div class="f-18 f-w c-0d0d0d"><a id="lr-edit" class="btn btn-default" onclick="btn_evaluate()"><i class="fa fa-pencil-square-o"></i>&nbsp;评价</a></div>
                                }
                            }

                            <div class="f-16 c-4a4e50 lh-36 pd-b-20" style="word-break:break-all;height:auto;min-height:110px;padding-top:10px;padding-left:10px;">
                                @*@Html.DisplayFor(x => x.Remark)*@
                                <div class="gridPanel">
                                    <table id="grid"></table>
                                    <div id="gridPager"></div>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>

</div>
<script>
    @if (files != null && files.Count(p => p.Description == "照片") > 4)
    {
    @Html.Raw("$('#pic_list_1').cxScroll({  speed: 1000,  time: 2000  })");
}
</script>