@model IEnumerable<BSFramework.Application.Entity.DrugManage.GlassEntity>
@{
    ViewBag.Title = "GlassList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" />*@
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/index.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/extend.css")" />
@*<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/Font-Awesome/css/font-awesome.min.css")" />*@
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/peccancy.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/styles/static/css/manageDetail.css")" />
@*<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/glassWareManage.css")" />*@
<script src="@Url.Content("~/Content/scripts/plugins/uploadify/ajaxfileupload.js")"></script>
<script src="@Url.Content("~/Content/scripts/plugins/layui/layui.all.js")"></script>
<script src="@Url.Content("~/Content/scripts/plugins/jQuery/hammer.js")"></script>
<script src="@Url.Content("~/Content/scripts/plugins/nicescroll/nicescroll.min.js")"></script>
<style type="text/css">
    .title li:first-child {
        border-left: 1px solid #3668e1;
    }

    .title li {
        list-style: none;
        border: 1px solid #3668e1;
        font-size: 17px;
        padding: 5px 20px;
        font-weight: 800;
        color: #3668e1;
        float: left;
        border-left: 0;
    }

    .title .select {
        background: #3668e1;
        color: #fff;
    }

    .title {
        padding-left: 0;
    }

    .item-wrap button {
        width: 48%;
    }

        .item-wrap button:last-child {
            background: #86a9fb;
        }

    .photo-list ul li img {
        width: 172px;
        height: 162px;
    }
</style>
<script>
    var v;
    var tId;
    var tType;  //点击编辑
    var name; //器皿名称

    var currUserName = "@BSFramework.Application.Code.OperatorProvider.Provider.Current().UserName";

    $(function () {
        //获取菜单(菜单控制)
        InitMenu($("ul"), undefined);

        $('#uploadFile').change(cp);
        $(document).on('click', '.radioGroup li', function () {
            let index = $(this).attr('data-id')
            $(this).addClass('test').siblings().removeClass('test')

        })
    });
    function cp() {
        $.ajaxFileUpload({
            url: "@Url.Action("UploadFile")",
            secureuri: false,
            fileElementId: 'uploadFile',
            dataType: 'json',
            success: function (data) {

                if (top.document.getElementById('photo') != undefined) {

                    top.document.getElementById('photo').src = top.contentPath + data.resultdata.path;
                }
                document.getElementById('uploadPreview').src = top.contentPath + data.resultdata.path;
                $("#tempImageSrc").val(top.location.origin + top.contentPath + data.resultdata.path);
                // $("#filename").val(data.resultdata.name);
                $('#uploadFile').change(cp);
            }
        });
    }

    function checknum(obj) {
        var val = obj.value;
        var re = /^[1-9]\d*$/;
        if (!re.exec(val)) {
            v = layer.open({
                type: 1,
                title: '验证',
                content: $('.validnum'),
                area: ['300px', '180px']
            })
            obj.value = "";
            return;
        }
    }
    function fn$refresh() {
        window.location.reload();
    }
    //新增器皿类型
    function save() {

        var path = $("#tempImageSrc").val();
        var name = $("#filename").val();
        var warn = $("#warn").val();
        var spec = $("#spec").val();
        var amount = $("#amount").val();

        var re = /^[1-9]\d*$/;
        if (!re.exec(amount)) {
            v = layer.open({
                type: 1,
                title: '验证',
                content: $('.validnum'),
                area: ['300px', '180px']
            })
            $("#amount").val('');
            return;
        }
        var glassobj =
            {
                Path: path,
                Name: name,
                Warn: warn,
                Spec: spec,
                Amount: amount
            }
        var url = '@Url.Action("AddGlass")';
        if (!path) {
            v = layer.open({
                type: 1,
                title: '数据验证',
                content: $('.validimg'),
                area: ['300px', '180px']
            })
            return;
        }
        if (!name) {
            v = layer.open({
                type: 1,
                title: '数据验证',
                content: $('.valid'),
                area: ['300px', '180px']
            })
            return;
        }
        if (!spec) {
            v = layer.open({
                type: 1,
                title: '数据验证',
                content: $('.validspec'),
                area: ['300px', '180px']
            })
            return;
        }
        if (!warn) {
            v = layer.open({
                type: 1,
                title: '数据验证',
                content: $('.validwarn'),
                area: ['300px', '180px']
            })
            return;
        }

        if (!amount) {
            v = layer.open({
                type: 1,
                title: '数据验证',
                content: $('.validamount'),
                area: ['300px', '180px']
            })
            return;
        }
        if (tType == "edit") {
            url = '@Url.Action("UpdateGlass")';
        }
        $.ajax({
            url: url,
            type: 'post',
            data: { glassData: JSON.stringify(glassobj), id: tId },
            success: function (data) {
                data = JSON.parse(data);
                if (data.message == "1") {
                    //$("#info").text(data.message);
                    v = layer.open({
                        type: 1,
                        title: '提示消息',
                        content: $('.messInfo'),
                        area: ['300px', '180px']
                    })

                } else {
                    window.location.href = '@Url.Action("GlassList")';
                }
            }
        });
    }

    function delOK() {

    }
    var delt;

    function deltc() {
        layer.close(delt);
        window.location.href = '@Url.Action("List")';
    }

</script>

<div class="main-content">
    <div class="container-fluid">
        @using (Html.BeginForm("GlassList", "Drug", FormMethod.Post, new { @class = "sf", enctype = "multipart/form-data", @id = "upimg" }))
        {

            <div class="mg-b-10">
                <div class="" style="overflow: hidden;margin-top:-7px;">
                    <ul class="pull-left title" style="height:40px; line-height:35px;font-size:20px;">
                        <li code="drug_use"><a href="@Url.Action("List")" style="text-decoration:none">药品取用管理</a></li>
                        <li code="drug_stock"><a href="@Url.Action("StockManage", new { page = 1, pagesize = 10 })" style="text-decoration:none">药品库存管理</a></li>
                        <li code="drug_glassware" class="select" onclick="fn$refresh();">玻璃器皿管理</li>
                        @*<li><a href="#" style="text-decoration:none">化学仪器管理</a></li>*@
                    </ul>
                    <div style="float:right!important;line-height:40px!important;">
                        <a href="@Url.Action("GlassStockList", new { page = 1, pagesize = 10 })">
                            <img src="~/Content/styles/static/images/index_29.png" style="margin-top:-2px;" alt="">
                            入库/损耗记录
                        </a>
                    </div>
                </div>

            </div>
            <div class="bg-e3ebfd pd-10 my-body" style="margin-top:-3px;">
                <div class="tools-list tools-list-two">
                    @*max-height:760px;overflow-y:auto;*@
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        var entity = Model.ToList()[i];
                        <div class="item-wrap">
                            @if (Convert.ToDecimal(entity.Amount) > Convert.ToDecimal(entity.Warn))
                            {
                                <div style="width:190px;height:280px;">

                                    <dl style="padding-top:15px;">
                                        <dt style="width:180px;"><label style="overflow-x:hidden; text-overflow:ellipsis;">@entity.Name</label></dt>

                                        <dt>
                                            <span>@entity.Spec</span>
                                            <span>@entity.Amount 个</span>
                                        </dt>
                                        <a @*href="@Url.Action("GlassDetail", new { id = entity.ID })"*@ style="margin-top:0px;">
                                            <img width="160" height="180" style="margin-top:15px;" src="@entity.Path" alt=" ">
                                        </a>
                                    </dl>
                                    <div class="remove-bg" style="padding-top:60px;">
                                        <button value="@entity.ID" onclick=" edit(this.value); return false;" class="edit"></button>
                                        <button id="@entity.ID" class="delete"></button>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div style="width:190px;height:280px;">

                                    <dl style="padding-top:15px;">
                                        <dt style="color:red;"><label style="overflow-x:hidden; text-overflow:ellipsis;">@entity.Name</label></dt>
                                        <dt>
                                            <span style="color:red;">@entity.Spec</span>
                                            <span style="color:red;">@entity.Amount 个</span>
                                        </dt>
                                        <a @*href="@Url.Action("GlassDetail", new { id = entity.ID })"*@ style="margin-top:0px;">
                                            <img width="160" height="180" style="margin-top:15px;" src="@entity.Path" alt=" ">
                                        </a>
                                    </dl>
                                    <div class="remove-bg" style="padding-top:60px;">
                                        <button value="@entity.ID" onclick=" edit(this.value); return false;" class="edit"></button>
                                        <button id="@entity.ID" class="delete"></button>
                                    </div>
                                </div>
                            }
                            <p>
                                <button value="@entity.ID" name="@entity.Name" class="btn-bg in" onclick=" glassin(this.value,this.name); return false;">入库</button>
                                <button value="@entity.ID" name="@entity.Name" class="btn-bg out" onclick=" glassout(this.value,this.name); return false;">损耗</button>
                            </p>
                        </div>
                    }
                    <div class="add-current">
                        <div class="add" style="width:175px;height:265px;">
                            <a href="javascript:;" style="padding-top:60px;">
                                <img src="~/Content/styles/static/images/tools/photo-add.png" alt="">
                            </a>
                        </div>
                        @*<p style="background: #3669e1; margin-top:10px;">添加</p>*@
                    </div>
                </div>
            </div>

            <footer class="main-footer" style="height:30px;">
                武汉博晟安全技术股份有限公司   版权所有
            </footer>
        }
    </div>

</div>
<div class="messInfo">
    <div style="text-align:center;">
        <h4 id="info" style="margin-top:35px;">该类器皿已存在！</h4>
        <button class="btn bg-3669e1 c-fff" style="margin-top:10px;width:70px;" onclick="layer.close(v);">确认</button>
    </div>
</div>
<div class="add-container" id="new">
    <table>
        <tr>
            <td>图片</td>
            <td>

                <div class="file">
                    <label for="uploadFile">
                        <img id="uploadPreview" style="width: 160px; height: 160px; " src="~/Content/styles/static/images/tools/photo-add.png" />
                        <br />
                        点击框可修改图片
                        <input type="file" name="uploadFile" id="uploadFile" style="display:none;">
                        <input type="hidden" id="tempImageSrc" />
                    </label>
                    <span class="select-btn">选择图库图片</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>名称</td>
            <td>
                <input type="text" id="filename" class="my-input" data-type="s1-100" placeholder="请输入" style="width:300px;">
            </td>
        </tr>
        <tr>
            <td>规格</td>
            <td>
                <input type="text" id="spec" class="my-input" data-type="s1-100" placeholder="请输入" style="width:300px;">
            </td>
        </tr>

        <tr>
            <td>预警值</td>
            <td>
                <input type="text" id="warn" class="my-input" data-type="s1-100" placeholder="请输入" onchange="checknum(this);" style="width:300px;">

            </td>
        </tr>
        <tr>
            <td>数量</td>
            <td>
                <input type="text" id="amount" class="my-input" data-type="s1-100" placeholder="请输入"  style="width:250px;">&nbsp;&nbsp;个
            </td>
        </tr>
        <tr style="height:20px;"></tr>
        <tr>
            <td></td>
            <td>
                <button class="btn-bg" style="background-color: #3669e1;" onclick="save();">确认</button>
                <button class="btn-bd" style="border-radius: 0;margin-left:10px;" onclick="layer.closeAll();">取消</button>
            </td>
        </tr>
    </table>
</div>

<div class="add-container" id="in">
    <table style="margin-top:15px;">

        <tr>
            <td>器皿名称</td>
            <td>
                <input type="text" id="inname" class="my-input" data-type="s1-100" style="width:280px;" readonly="readonly">
            </td>
        </tr>
        <tr>
            <td>入库数量</td>
            <td>
                <input type="text" id="inamount" class="my-input" data-type="s1-100" style="width:280px;" onchange="checknum(this);">
            </td>
        </tr>
        <tr>
            <td>登记人</td>
            <td>
                <input type="text" id="inperson" class="my-input" data-type="s1-100" style="width:280px;" readonly="readonly">
            </td>
        </tr>
        <tr>
            <td>登记时间</td>
            <td>
                <input type="text" id="indate" class="my-input" data-type="s1-100" style="width:280px;" readonly="readonly">
            </td>
        </tr>
        <tr style="height:20px;"></tr>
        <tr>
            <td></td>
            <td>
                <button class="btn-bg" style="background-color: #3669e1;" onclick="savein();">确认</button>
                <button class="btn-bd" style="border-radius: 0;margin-left:10px;" onclick="layer.closeAll();">取消</button>
            </td>
        </tr>
    </table>
</div>

<div class="add-container" id="out">


    @*<tr>
            <td>器皿名称</td>
            <td>
                <input type="text" id="outname" class="my-input" data-type="s1-100" style="width:280px;" readonly="readonly">
            </td>
        </tr>*@
    <table>
        <tr>
            <td>损耗原因</td>
            <td>
                <div class="popup" id="daystate" style="width:300px;height:40px;padding-left:0px;margin-left:-30px;">
                    <ul class="radioGroup radioGroup1" style="height:40px;margin-top:0px;">
                        <li data-id="损坏" class="test">损坏</li>
                        <li data-id="出借">出借</li>
                        <li data-id="其他">其他</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>损耗数量</td>
            <td>
                <input type="text" id="outamount" class="my-input" data-type="s1-100" style="width:280px;" onchange="checknum(this);">
            </td>
        </tr>
        <tr>
            <td>登记人</td>
            <td>
                <input type="text" id="outperson" class="my-input" data-type="s1-100" style="width:280px;" readonly="readonly">
            </td>
        </tr>
        <tr>
            <td>登记时间</td>
            <td>
                <input type="text" id="outdate" class="my-input" data-type="s1-100" style="width:280px;" readonly="readonly">
            </td>
        </tr>
        <tr style="height:20px;"></tr>
        <tr>
            <td></td>
            <td>
                <button class="btn-bg" style="background-color: #3669e1;" onclick="saveout();">确认</button>
                <button class="btn-bd" style="border-radius: 0;margin-left:10px;" onclick="layer.closeAll();">取消</button>
            </td>
        </tr>
    </table>

</div>


<script>
    $(function () {
        //$("#warn,#amount,#inamount,#outamount").keyup(function () {
        //    if (this.value.length == 1) { this.value = this.value.replace(/[^1-9]/g, '') } else { this.value = this.value.replace(/\D/g, '') }
        //});
        //$("#warn,#amount").afterpaste(function () {
        //    if (this.value.length == 1) { this.value = this.value.replace(/[^1-9]/g, '') } else { this.value = this.value.replace(/\D/g, '') }
        //});

    });
</script>


@*<script src="../plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="../plugins/jQuery/hammer.js"></script>*@

@*<script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/nicescroll/nicescroll.min.js"></script>
    <script src="../plugins/layui/layui.all.js"></script>*@

<script>
    var iframeIndex;
    var lay;
    $(function () {


        $('.add').click(function () {
            $("#filename").val('');
            $("#warn").val('');
            $("#amount").val('');
            $("#spec").val('');
            $("#uploadPreview").val('~/Content/styles/static/images/tools/photo-add.png');
            iframeIndex = layer.open({
                type: 1,
                title: '新增类别',
                content: $('#new'),
                area: ['520px', '600px']
            })
            $('#amount').attr("readOnly", false);
            $('#spec').attr("readOnly", false);
        })

        $('.tools-list').delegate('.item-wrap', 'click', function (e) {
            e.stopPropagation();
        })
        $('.tools-list').delegate('button.delete', 'click', function (e) {
            if (del(e.target.id)) {
                var $p = $(this).parents('.item-wrap');
                $p.remove();
            } else {
                return false;
            }

        })
        //$('.tools-list').delegate('button.edit', 'click', function () {
        //    alert('修改');
        //})
        $('.tools-list > div').each(function () {
            var mc = new Hammer(this);
            mc.on('press', function (e) {
                $('.tools-list').addClass('remove');
                $('body').bind('click', clickHand);
                return false;
            })
        })

        $('.select-btn').click(function () {
            // layer.close(iframeIndex);
            lay = layer.open({
                type: 1,
                title: '图库',
                content: $('.photo-list'),
                area: ['1000px', '650px']
            })
        })
        //$('.photo-list li').click(function () {
        //layer.close(iframeIndex);
        //alert("回调");
        //})


    })
    function del(id) {
        var msg = "删除后将无法恢复，请确认！";
        if (confirm(msg) == true) {

            $.ajax({
                url: '@Url.Action("DelGlass")',
                type: 'post',
                data: { id: id },
                success: function (data) {
                }
            });
            return true;
        } else {
            return false;
        }
    }
    function setImg(obj) {
        layer.close(lay);
        document.getElementById('uploadPreview').src = obj.src;
        $("#tempImageSrc").val(obj.src);
        var i = obj.src.lastIndexOf("/");
        console.log(i);
        console.log(obj.src.slice(i + 1));
        var name = obj.src.slice(i + 1);
        name = name.substring(0, name.length - 4);
        // $("#filename").val(obj.alt);

    }
    function clickHand() {
        $('.tools-list').removeClass('remove');
    }
    function edit(id) {
        tId = id;
        tType = "edit";
        $.ajax({
            url: '@Url.Action("showglass")',
            type: 'post',
            data: { id: id },
            success: function (data) {
                data = JSON.parse(data);
                document.getElementById('uploadPreview').src = data.resultdata.path;
                $("#tempImageSrc").val(data.resultdata.path);
                $("#filename").val(data.resultdata.name);
                $("#warn").val(data.resultdata.wran);
                $("#spec").val(data.resultdata.spec);
                $("#amount").val(data.resultdata.amount);
            }
        });
        iframeIndex = layer.open({
            type: 1,
            title: '修改类别',
            content: $('#new'),
            area: ['500px', '600px']
        })
        $('#amount').attr("readOnly", true);
        $('#spec').attr("readOnly", true);
    }
    function glassin(id, gname) {
        tId = id;
        $("#inname").val(gname);
        $("#indate").val("@ViewData["NowTime"]");
        $("#inperson").val("@ViewData["CurrUserName"]");
        $("#inamount").val('');
        //tType = "glassin";
        iframeIndex = layer.open({
            type: 1,
            title: '器皿入库登记',
            content: $('#in'),
            area: ['500px', '400px']
        })
    }
    var curtotal;
    function glassout(id, gname) {
        tId = id;
        $("#outname").val(gname);
        $("#outamount").val('');

        $("#outdate").val("@ViewData["NowTime"]");
        $("#outperson").val("@ViewData["CurrUserName"]");

        //获取当前器皿的剩余总量
        $.ajax({
            url: '@Url.Action("showglass")',
            type: 'post',
            data: { id: tId },
            success: function (data) {
                data = JSON.parse(data);
                curtotal = data.resultdata.amount;
            }
        });
        //tType = "glassout";
        iframeIndex = layer.open({
            type: 1,
            title: '器皿损耗登记',
            content: $('#out'),
            area: ['500px', '400px']
        })
    }
    function savein() {
        var amount = $("#inamount").val();
        if (!amount) {
            v = layer.open({
                type: 1,
                title: '数据验证',
                content: $('.validamount'),
                area: ['300px', '180px']
            })
            return;
        }
        $.ajax({
            url: '@Url.Action("glassin")',
            type: 'post',
            data: { amount: amount, tid: tId },
            success: function (data) {
                window.location.href = '@Url.Action("GlassList")';
            }
        });
    }
    function saveout() {
        var amount = $("#outamount").val();
        if (!amount) {
            v = layer.open({
                type: 1,
                title: '数据验证',
                content: $('.validamount'),
                area: ['300px', '180px']
            })
            return;
        }

        if (parseInt(amount) > parseInt(curtotal)) {
            v = layer.open({
                type: 1,
                title: '数据验证',
                content: $('.outnum'),
                area: ['300px', '180px']
            })
            return;
        }
        var reason = jQuery('#daystate .radioGroup1 li.test').data('id');
        $.ajax({
            url: '@Url.Action("glassout")',
            type: 'post',
            data: { reason: reason, amount: amount, tid: tId },
            success: function (data) {
                window.location.href = '@Url.Action("GlassList")';
            }
        });
    }
</script>
<div class="modal fade launch-modal" id="modalt1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-my" role="document">
        <div class="modal-content" style="height:200px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">重置密码</h4>
            </div>
            <div class="modal-body" style="text-align:center">
                <h4>操作成功，请牢记您的新密码！</h4>
            </div>
            <div class="text-center mg-t-10" style="margin-top:10px;">
                <button class="btn bg-3669e1 c-fff" style="width:200px;" data-dismiss="modal">完成</button>
            </div>
        </div>
    </div>
</div>
<div class="validnum">
    <div style="text-align:center;">
        <h4 style="margin-top:35px;">请输入大于0的正整数！</h4>
        <button class="btn bg-3669e1 c-fff" style="margin-top:10px;width:70px;" onclick="layer.close(v);">确认</button>
    </div>
</div>
<div class="valid">
    <div style="text-align:center;">
        <h4 style="margin-top:35px;">请输入器皿名称！</h4>
        <button class="btn bg-3669e1 c-fff" style="width:100px;margin-top:15px;" onclick="layer.close(v);">确认</button>
    </div>
</div>
<div class="validimg">
    <div style="text-align:center;">
        <h4 style="margin-top:35px;">请选择图片！</h4>
        <button class="btn bg-3669e1 c-fff" style="width:100px;margin-top:15px;" onclick="layer.close(v);">确认</button>
    </div>
</div>
<div class="validwarn">
    <div style="text-align:center;">
        <h4 style="margin-top:35px;">请输入预警值！</h4>
        <button class="btn bg-3669e1 c-fff" style="width:100px;margin-top:15px;" onclick="layer.close(v);">确认</button>
    </div>
</div>
<div class="validspec">
    <div style="text-align:center;">
        <h4 style="margin-top:35px;">请输入规格！</h4>
        <button class="btn bg-3669e1 c-fff" style="width:100px;margin-top:15px;" onclick="layer.close(v);">确认</button>
    </div>
</div>
<div class="validamount">
    <div style="text-align:center;">
        <h4 style="margin-top:35px;">请输入数量！</h4>
        <button class="btn bg-3669e1 c-fff" style="width:100px;margin-top:15px;" onclick="layer.close(v);">确认</button>
    </div>
</div>
<div class="dels">
    <div style="text-align:center;">
        <h4 style="margin-top:35px;">删除后将无法恢复，请确认！</h4>
        <button class="btn bg-3669e1 c-fff" style="margin-top:10px;width:70px;" onclick="window.location.reload();">确认</button>
        <button class="btn bg-3669e1 c-fff" style="margin-top:10px;width:70px;" onclick="layer.close(v);">取消</button>
    </div>
</div>
<div class="outnum">
    <div style="text-align:center;">
        <h4 style="margin-top:35px;">损耗数量不能大于剩余数量！</h4>
        <button class="btn bg-3669e1 c-fff" style="width:100px;margin-top:15px;" onclick="layer.close(v);">确认</button>
    </div>
</div>
<div class="d1">
    <div style="text-align:center;">
        <h4 style="margin-top:35px;">该工器具内含有多规格工具，无法删除！</h4>
        <button class="btn bg-3669e1 c-fff" style="margin-top:10px;width:70px;" onclick="deltc();">确认</button>
        @*<button class="btn bg-3669e1 c-fff" style="margin-top:10px;width:70px;" onclick="">确认</button>*@
    </div>
</div>
<div class="modal fade launch-modal" id="modalt2" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-my" role="document">
        <div class="modal-content" style="height:200px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">删除确认</h4>
            </div>
            <div class="modal-body" style="text-align:center">
                <h4>删除后将无法恢复，请确认！</h4>
            </div>
            <div class="text-center mg-t-10" style="margin-top:10px;">
                <button class="btn bg-3669e1 c-fff" style="width:200px;" onclick="dely();">确定</button>
                <button class="btn bg-3669e1 c-fff" style="width:200px;" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="photo-list">
    <ul class="nav">
        @*@{
            for (int i = 1; i <= 50; i++) 
            {
                <li><img src="~/Content/styles/static/images/glass/@Html.Raw(i) .jpg" alt="" onclick="setImg(this)"></li>
            }
        }*@
        <li><img src="~/Content/styles/static/images/glass/1.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/2.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/3.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/4.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/5.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/6.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/7.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/8.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/9.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/10.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/11.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/12.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/13.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/14.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/15.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/16.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/17.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/18.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/19.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/20.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/21.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/22.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/23.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/24.png" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/25.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/26.png" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/27.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/28.png" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/29.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/30.png" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/31.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/32.png" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/33.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/34.png" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/35.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/36.png" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/37.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/38.png" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/39.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/40.png" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/41.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/42.png" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/43.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/44.png" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/45.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/46.png" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/47.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/48.png" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/49.jpg" alt="" onclick="setImg(this)"></li>
        <li><img src="~/Content/styles/static/images/glass/50.png" alt="" onclick="setImg(this)"></li>
    </ul>
</div>

