@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    bool IsSearchType = ViewBag.IsSearchType; }

<script src="~/Content/scripts/plugins/AdminPrettyDesktopFirst/js/LoadData.js"></script>
<script>
    var deptId = "@ViewBag.deptid";
    var serchTodo = request('searchtype');
    var userId = '@ViewBag.UserId';
    $(function () {
        InitialPage();
        if (serchTodo !="todo") {

        }
        GetGrid();
    });
    //初始化页面
    function InitialPage() {

        $('#layout').layout({
            west: {
                size: 300
            },
            onresize: function () {
                $(window).resize()
            }
        });

        $(window).resize(function (e) {
            window.setTimeout(function () {
                $("#departments").height($(window).height() - 50);
                $("#gridTable").setGridHeight($(window).height() - 170);
            }, 200);
            e.stopPropagation();
        });
        $("#departments").height($(window).height() - 50);
    }

    function onNodeSelected(item) {
        deptId = item.id;


        $('#btn_Search').trigger("click");
    }


    //加载表格
    function GetGrid() {
        var queryJson = {
            advicetype: "",
            state: "",
            name: "",
            deptid: deptId,
        }
        if (serchTodo == "todo") {
            queryJson.state = "待审核"
            queryJson["userid"] = userId;
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            url: '/..@Url.Action("GetPageListJson")',
            datatype: "json",
            height: $(window).height() - 170,
            autowidth: true,
            postData: { queryJson: JSON.stringify(queryJson) },
            colModel: [
                { label: '主键', name: 'adviceid', hidden: true },
                {
                    label: '操作', name: 'action', width: 135, align: 'center', sortable: false
                },
                { label: '填报部门', name: 'deptname', index: 'deptname', width: 350, align: 'center' },
                {
                     label: '填报时间', name: 'reporttime', index: 'reporttime', width: 200, align: 'center', sortable: false
                    ,
                     formatter: function (cellvalue, options, rowObject) {
                         return formatDate(cellvalue, 'yyyy-MM-dd');
                     },
                     formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                 },
                { label: '填报人', name: 'username', index: 'username', width: 200, align: 'center' },
                { label: '类型', name: 'advicetype', index: 'advicetype', width: 200, align: 'center' },
                { label: '标题', name: 'title', index: 'title', width: 200, align: 'center' },
                { label: '状态', name: 'aduitresult', index: 'aduitresult', width: 200, align: 'center' }

            ],
            viewrecords: true,
            rowNum: 30,
            // rowList: [30, 50, 100],
            pager: "#gridPager",
            //sortname: 'createdate',
            //sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            gridComplete: function () {
                var gridid = this.id;
                $("#" + this.id).setSelection(selectedRowIndex, false);
                var rows = $("#" + this.id).jqGrid("getRowData");//获取当前页记录行数据
                //查询用户对该模块的数据操作权限
                $(rows).each(function (i, item) {
                    var html = "";
                    var DeptCk = '@ViewBag.DeptCk';
                    html += "<a href=\"javascript:show('" + item.adviceid + "')\" title=\"查看\">查看</a>";
                    if (DeptCk=="True") {
                        html += "<a href=\"javascript:del('" + item.adviceid + "')\" title=\"删除\">删除</a>";
                    }
                    $("td[aria-describedby='" + gridid + "_action']").eq(i).html(html);

                });
            }
            //,
            //loadError: function (xhr, status, error) {
            //    top.location.href = "../../Login/Index?Login_Error=1";
            //}
        });
        //$gridTable.authorizeColModel()
        //查询事件
        $("#btn_Search").click(function () {
            var $gridTable = $('#gridTable');
            var queryJson = {
                advicetype: $("#advicetype").find("option:selected").val(),
                state: $("#state").find("option:selected").val(),
                name: $("#name").val(),
                deptid: deptId,
            }
            if (serchTodo == "todo") {
                queryJson["userid"] = userId;
            }

            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
        //查询事件
        $("#btn_Clear").click(function () {
            $("#advicetype").val("");
            $("#state").val("");
            $("#name").val("");
            $('#btn_Search').trigger("click");
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });

        $("#btn_Add").click(function () {
            dialogOpen({
                id: "Add",
                title: '新增合理化建议',
                width: "1000px",
                url: '/../@Url.Action("IndexAdd")',
                height: "750px",
                callBack: function (iframeId) {
                    top.document.getElementById(iframeId).contentWindow.AcceptClick();
                }

            })
        });

    }
    function del(id) {
        if (id) {
            $.RemoveForm({
                url: "/../@Url.Action("delEntity")",
                param: { keyValue: id },
                success: function (data) {
                    $("#gridTable").trigger("reloadGrid");
                }
            })
        }

    }

    //查看
    function show(id) {
        var keyValue = id;

        var dlg = dialogOpen({
            id: "Detail",
            title: '查看',
            url: '/../@Url.Action("IndexDetail")?keyValue=' + keyValue,
            width: "1000px",
            height: "750px",
            btn: ['关闭'],
            callBack: function (iframeId) {

                top.layer.close(dlg);
                ref();
            }
        });

    }

    function ref() {
        var $gridTable = $('#gridTable');
        var queryJson = {
            advicetype: $("#advicetype").find("option:selected").val(),
            state: $("#state").find("option:selected").val(),
            name: $("#name").val(),
            deptid: deptId,
        }
        $gridTable.jqGrid('setGridParam', {
            postData: { queryJson: JSON.stringify(queryJson) }, page: 1
        }).trigger('reloadGrid');
    }

</script>


<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    @if (!IsSearchType)
    {
<div class="ui-layout-west">
    <div class="west-Panel">
        <div class="panel-Title">
            <div class="col-md-10">
                组织机构
            </div>
            <div class="col-md-2 text-right" style="padding-right:8px;">
                <i class="fa fa-arrow-left" onclick="setBar(this)" style="cursor:pointer;" title="展开/收起"></i>
            </div>
        </div>
        @Html.Partial("~/Areas/BaseManage/Views/Department/Tree.cshtml")

    </div>
</div>}

    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">
                合理化建议
            </div>
            <div class="titlePanel">
                <div class="title-search">
                    <div class="form-inline">

                        @if (!IsSearchType)
                        {
            <div class="form-group">
                <label for="team">状态</label>
                <select id="state">
                    <option value="" selected="selected">全部</option>
                    <option value="待审核">待审核</option>
                    <option value="审核通过">审核通过</option>
                    <option value="审核不通过">审核不通过</option>
                </select>
            </div> }
        else
        {
<select id="state" style="display:none">
    <option value="待审核" selected="selected">待审核</option>
</select>}
                        <div class="form-group">
                            <label for="team">类型</label>
                            <select id="advicetype">
                                <option value="" selected="selected">全部</option>
                                <option value="生产">生产</option>
                                <option value="管理">管理</option>
                                <option value="发展">发展</option>
                                <option value="其它">其它</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="team"></label>
                            <input type="text" class="form-control" id="name" placeholder="建议标题关键字检索">
                        </div>
                        <div class="form-group">
                            <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                        </div>


                        <div class="form-group">
                            <a id="btn_Clear" class="btn btn-primary"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        </div>
                    </div>
                </div>
                <div class="toolbar">

                    <div class="btn-group">
                        <a id="btn_Add" code="add" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;新增</a>

                    </div>
                    <script>
 @if (!BSFramework.Application.Code.OperatorProvider.Provider.Current().IsSystem)
                {
                    @Html.Raw("AuthiruzeBtn($('.toolbar'), $('#grid'));");//操作按钮权限控制
                }
                    </script>
                </div>


            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>









