@model BSFramework.Application.Entity.Activity.ReportEntity
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/jquery/jquery.serializeJSON.min.js"></script>
@section Scripts {
    <script>
        jQuery(function () {
            var date1 = '@ViewBag.date1', date2 = '@ViewBag.date2';
            jQuery('#date1').val(date1);
            jQuery('#date2').val(date2);

            jQuery('#date1').change(function () {
                jQuery('#date11').val(jQuery(this).val());
            });

            jQuery('#date2').change(function () {
                jQuery('#date22').val(jQuery(this).val());
            });
        });

        function fn$change1(e) {
            jQuery('#start11').val(jQuery(e).val());
        }

        function fn$change2(e) {
            jQuery('#start22').val(jQuery(e).val());
        }

        function fn$ok() {
            var formdata = jQuery('#form1').serializeJSON();
            if (!jQuery('#form1').Validform()) {
                return false;
            }

            jQuery.SaveForm({
                url: '@Url.Action("SettingDetail")',
                param: formdata,
                loading: "正在保存数据...",
                success: function (data) {
                    //$.currentIframe().$("#gridTable").trigger("reloadGrid");
                }
            });
        }
    </script>
}

<div style="margin-left: 10px; margin-right: 10px; margin-top:30px;">
    <div class="tab-content form-horizontal" style="padding-top: 15px;">
        <div class="form-group">
            <label class="col-sm-2 control-label">周工作总结</label>
            <label class="col-sm-1 control-label">上周</label>
            <div class="col-sm-2">
                <select class="form-control" name="date1" id="date1" isvalid="yes" checkexpession="NotNull">
                    <option value="1">周一</option>
                    <option value="2">周二</option>
                    <option value="3">周三</option>
                    <option value="4">周四</option>
                    <option value="5">周五</option>
                    <option value="6">周六</option>
                    <option value="0">周日</option>
                </select>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="start1" name="start1" onfocus="WdatePicker({dateFmt:'H:mm:ss'});" onchange="fn$change1(this);" readonly="readonly" isvalid="yes" checkexpession="NotNull" value="@ViewBag.start1">
            </div>
            <label class="col-sm-1 control-label">到本周</label>
            <div class="col-sm-2">
                <select class="form-control" disabled="disabled" id="date11">
                    <option value="1">周一</option>
                    <option value="2">周二</option>
                    <option value="3">周三</option>
                    <option value="4">周四</option>
                    <option value="5">周五</option>
                    <option value="6">周六</option>
                    <option value="0">周日</option>
                </select>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="start11" readonly="readonly" value="@ViewBag.start1">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">月工作总结</label>
            <label class="col-sm-1 control-label">上月</label>
            <div class="col-sm-2">
                <select class="form-control" name="date2" id="date2" isvalid="yes" checkexpession="NotNull">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                </select>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="start2" name="start2" onfocus="WdatePicker({dateFmt:'H:mm:ss'});" onchange="fn$change2(this);" readonly="readonly" isvalid="yes" checkexpession="NotNull" value="@ViewBag.start2">
            </div>
            <label class="col-sm-1 control-label">到本月</label>
            <div class="col-sm-2">
                <select class="form-control" disabled="disabled" id="date22">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                </select>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="start22" readonly="readonly" value="@ViewBag.start2">
            </div>
        </div>
    </div>
</div>
