@model BSFramework.Application.Entity.EmergencyManage.EmergencyEntity
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/index.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/extend.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/Font-Awesome/css/font-awesome.min.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/peccancy.css")" />


<script src="@Url.Content("~/Content/scripts/plugins/jQuery/jQuery-2.1.4.min.js")"></script>
<script src="@Url.Content("~/Content/scripts/plugins/uploadify/ajaxfileupload.js")"></script>
<script src="@Url.Content("~/Content/scripts/validator/Validform.min.js")"></script>
<script src="@Url.Content("~/Content/scripts/layui/layui.all.js")"></script>
<script src="@Url.Content("~/Content/scripts/pdfjs/pdf.js")"></script>
<script src="@Url.Content("~/Content/scripts/pdfjs/pdf.worker.js")"></script>
<script>
    $(function () {
        BuildPagePdf(1);
    });
    var pageNumber = '';
    var currentPage =1;
    var filePath = '@ViewBag.path';
    //构建PDF
    function BuildPagePdf(pageIndex) {
        PDFJS.workerSrc = '@Url.Content("~/Content/scripts/pdfjs/pdf.worker.js")';
        PDFJS.getDocument(filePath).then(function getPdfHelloWorld(pdf) {
            pageNumber = pdf.numPages;
                 pdf.getPage(pageIndex).then(function getPageHelloWorld(page) {
                     var scale = 1.5;
                     var viewport = page.getViewport(scale);
                     var canvas = document.getElementById('the-canvas');
                     var context = canvas.getContext('2d');
                     canvas.height = viewport.height;
                     canvas.width = viewport.width;
                     var renderContext = {
                         canvasContext: context,
                         viewport: viewport
                     };
                    page.render(renderContext);
                 });
             });
    }
    //下一页
    function nextPage() {
        if (currentPage < pageNumber) {
            currentPage += 1;
            BuildPagePdf(currentPage);
            $("#btnPrePage").removeAttr('disabled');
        }
        if (currentPage == pageNumber) {
            $("#btnNextPage").attr("disabled", "disabled");
        }

    }

    //上一页
    function PrePage() {
        if (currentPage > 1) {
            currentPage -= 1;
            BuildPagePdf(currentPage);
            $("#btnNextPage").removeAttr('disabled');
        }
        if (currentPage == 1) {
            $("#btnPrePage").attr("disabled", "disabled");
            $("#btnNextPage").removeAttr('disabled');

        }

    }

</script>
<div class="main-content" style="height:100%;">
    <div class="container-fluid" style="height:99%;overflow-y:auto;">
  

        <div class="mg-b-10" style="height:4%;">
            <div class="" style="overflow: hidden;">
                <div class="pull-left title">
                    <a href="@Url.Action("Index")">
                        <img src="~/Content/styles/static/images/arrow-back-icon.png" alt="">
                        返回
                    </a>
                </div>
            </div>
        </div>
        <div class="bg-e3ebfd pd-10" >
            <div class="bg-fff add-peccancy" >
                <div style="text-align:center;">
                    <h3>@Model.Name</h3>
                </div>
                <div style="text-align:center;">
                    <button onclick="PrePage();" class="my-btn bg-8fadce">上一页</button>
                    <button onclick="nextPage();" class="my-btn bg-8fadce">下一页</button>
                </div>
                <div class="bs-area-1" style="text-align:center;">
                    <canvas id="the-canvas" style="height:100%;width:100%;margin:10px;max-width:60%;max-height:60%;" ></canvas>
                </div>
            </div>
            </div>
            <footer class="main-footer" style="height:4%">
                武汉博晟安全技术股份有限公司   版权所有
            </footer>
            
        </div>
    </div>



