@using BSFramework.Application.Entity.BaseManage

@model BSFramework.Application.Entity.EducationManage.EduBaseInfoEntity
@{
    ViewBag.Title = "Appoint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/Content/scripts/plugins/jquery-autocompleter/css/main.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/launch-activity.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/extend.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/app.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/before.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/Font-Awesome/css/font-awesome.min.css")">

<script src="@Url.Content("~/Content/scripts/plugins/jQuery/hammer.js")"></script>
<script src="@Url.Content("~/Content/scripts/plugins/nicescroll/nicescroll.min.js")"></script>
<script src="@Url.Content("~/Content/scripts/layui/layui.all.js")"></script>
<script src="@Url.Content("~/Content/scripts/jquery/jquery.serializeJSON.min.js")"></script>
<script src="@Url.Content("~/Content/scripts/validator/Validform.min.js")"></script>
<script src="@Url.Content("~/Content/scripts/plugins/jquery-autocompleter/js/jquery.autocompleter.js")"></script>



<style>
    .autocompleter {
        width: 300px;
        position: absolute;
        left: 135px;
        z-index: 2;
    }

    .find1 {
        top: 70px;
    }


    .Validform_checktip {
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }

    .Validform_wrong {
        color: red;
    }

    #mypeople li {
        line-height: 55px;
    }

        #mypeople li.on {
            background-position: 10px top;
            background-color: #3669e1;
            color: #fff;
        }

    .addr.sign .my-nav li {
        background: none;
        text-align: center;
        padding-left: 0;
    }

        .addr.sign .my-nav li.on {
            background: #3669e1;
            color: #fff;
        }
</style>

<script>
    var ssss = '';
    $(document).keydown(function (event) {
        switch (event.keyCode) {
            case 13: return false;
        }
    });
    $(function () {
        //20190122  选择课件库数据，返回对应附件，赋值数据关联新eduid并返回
        $('#job').autocompleter({
            source: '@Url.Action("SelEduInventory")',
            customClass: ['find1'],
            highlightMatches: true,
            empty: false,
            cache: false,
            limit: 5,
            customLabel: 'Name',
            customValue: 'Name',
            callback: function (value, index, selected) {
                $.ajax({
                    url: '@Url.Action("newfile")',
                    type: 'post',
                    data: { id: selected.ID, eduid: '@Model.ID' },
                    loading: "数据提交中...",
                    success: function (data) {
                        var data = JSON.parse(data);
                        var name = data.resultdata.filename;
                        var id = data.resultdata.fileid;
                        layer.closeAll();
                        jQuery('#filelist1').append('<li><div class="left">' + name + '</div><div class="pull-right right"><input type="button"  class="my-btn remove" onclick="fn$deletenew(this);" data-id="' + id + '" value="删除" /><a class="my-btn bg-3669e1 c-fff mg-l-20" href="@Url.Action("DownloadFile", "ResourceFile", new { area = "PublicInfoManage" })?keyValue=' + id + '" > 下载</a></div></li>');
                    }
                });

            }
        });

        $('.main-sidebar').niceScroll({
            autohidemode: false
        });
        $('.table-today tr').hover(function () {
            $(this).addClass('hover');
        }, function () {
            $(this).removeClass('hover');
        });
        $('.table-today tr').click(function () {
            $(this).toggleClass('actives');
        })
        $('.user>.dropdown-menu').css({
            left: $('.user').innerWidth() - $('.user>.dropdown-menu').width() - 65
        });

        fn$date();



        if (jQuery('#Theme').val() == "*")
            jQuery('#Theme').val('');

        jQuery('#filebox').change(function () {
            if (!jQuery('#Theme').val())
                jQuery('#Theme').val('*');
            jQuery('#isfile').val('true');
            jQuery('form').submit();
        });
        //培训时长
        jQuery('#ActivityTime').click(function () {
            var size = jQuery('#mylong li').size();
            var h = 56 * (size + 1);
            var winH = $(window).height();
            if (h > winH - 100) {
                h = winH - 100
            }

            layer.open({
                area: ['300px', h + 'px'],
                title: '选择时长',
                type: 1,
                content: $('#mylong')
            });
        });

        jQuery('#mylong li').click(function () {
            jQuery('#mylong li').removeClass('on');
            jQuery(this).addClass('on');
            jQuery('#ActivityTime').val(jQuery(this).text());
            layer.closeAll();
        });

        jQuery('#ActivityLocation').click(function () {
            var size = jQuery('#myplace li').size();
            var h = 56 * (size + 1) + 10;
            var winH = $(window).height();
            if (h > winH - 100) {
                h = winH - 100
            }

            layer.open({
                area: ['300px', h + 'px'],
                title: '培训地点',
                type: 1,
                content: $('#myplace')
            });
        });

        jQuery('#myplace li').click(function () {
            jQuery('#myplace li').removeClass('on');
            jQuery(this).addClass('on');
            jQuery('#ActivityLocation').val(jQuery(this).text());
            layer.closeAll()
        });

        jQuery('#Remind').click(function () {
            var size = jQuery('#myalert li').size();
            var h = 56 * (size + 1) + 10;
            var winH = $(window).height();
            if (h > winH - 100) {
                h = winH - 100
            }

            layer.open({
                area: ['300px', h + 'px'],
                title: '提醒时间',
                type: 1,
                content: $('#myalert')
            });
        });

        jQuery('#myalert li').click(function () {
            jQuery('#myalert li').removeClass('on');
            jQuery(this).addClass('on');
            jQuery('#Remind').val(jQuery(this).text());

            layer.closeAll();
        });

        jQuery('#users button').click(function () {
            layer.closeAll();
            return false;
        });

        jQuery('#Teacher').click(function () {
            item = jQuery(this).prev().attr('id');

            jQuery('#mypeople li').removeClass('on');
            if (jQuery(this).val()) {
                jQuery('#mypeople [data-id="' + jQuery('#' + item).val() + '"]').addClass('on');
            }

            var size = jQuery('#mypeople li').size();
            var h = 56 * (size + 1) + 10;
            var winH = $(window).height();
            if (h > winH - 100) {
                h = winH - 100
            }

            layer.open({
                area: ['300px', h + 'px'],
                title: '选择主持人',
                type: 1,
                content: $('#mypeople')
            });
        });

        jQuery('#mypeople li').click(function () {
            jQuery('#mypeople li').removeClass('on');
            jQuery(this).addClass('on');
            jQuery('#' + item).val(jQuery(this).data('id'));
            jQuery('#' + item).next().val(jQuery(this).text());
            layer.closeAll();
        });

        jQuery('#RegisterPeople').click(function () {
            item = jQuery(this).prev().attr('id');

            jQuery('#mypeople li').removeClass('on');
            if (jQuery(this).val()) {
                jQuery('#mypeople [data-id="' + jQuery('#' + item).val() + '"]').addClass('on');
            }

            var size = jQuery('#mypeople li').size();
            var h = 56 * (size + 1) + 10;
            var winH = $(window).height();
            if (h > winH - 100) {
                h = winH - 100
            }

            layer.open({
                area: ['300px', h + 'px'],
                title: '选择记录人',
                type: 1,
                content: $('#mypeople')
            });
        });

        jQuery('#AttendPeople').click(function () {
            var size = jQuery('#users li').size();
            var h = 52 * (size + 1) + 60;
            var winH = $(window).height();
            if (h > winH - 100) {
                h = winH - 100
            }

            layer.open({
                area: ['300px', h + 'px'],
                title: '选择参加人员',
                type: 1,
                content: $('#users'),
                //        end() {
                //            $('#users').hide();
                //}
            });


        });
        jQuery('.my-radio').click(function () {
            if (jQuery(this).hasClass('on')) {
                jQuery(this).prev().prev().val('False');
                jQuery(this).removeClass('on');
            }
            else {
                jQuery(this).prev().prev().val('True');
                jQuery(this).addClass('on');
            }

            var names = '', userids = '';
            jQuery('#users li span.on').each(function () {
                userids += jQuery(this).parent().data('id') + ','
                names += jQuery(this).prev().text() + ','
            });

            jQuery('#AttendPeopleId').val(userids.replace(/,$/, ''));
            jQuery('#AttendPeople').val(names.replace(/,$/, ''));
        });

        var myfiles = jQuery.parseJSON(jQuery('#filedata').val() || '[]');
        jQuery.each(myfiles, function () {
            jQuery('#filelist').append('<li><div class="left">' + this.FileName + '</div><div class="pull-right right"><button class="my-btn remove" onclick="fn$delete(this);" data-id="' + this.FileId + '">删除</button><a class="my-btn bg-3669e1 c-fff mg-l-20" href="@Url.Action("DownloadFile", "ResourceFile", new { area = "PublicInfoManage" })?keyValue=' + this.FileId + '" > 下载</a></div></li>');
        });
        //自制课件，来源课件库，新数据无法使用页面提交方式
        var myfiles1 = jQuery.parseJSON(jQuery('#filedata1').val() || '[]');
        jQuery.each(myfiles1, function () {
            jQuery('#filelist1').append('<li><div class="left">' + this.FileName + '</div><div class="pull-right right"><input type="button" class="my-btn remove" onclick="fn$deletenew(this);" data-id="' + this.FileId + '" value="删除" /><a class="my-btn bg-3669e1 c-fff mg-l-20" href="@Url.Action("DownloadFile", "ResourceFile", new { area = "PublicInfoManage" })?keyValue=' + this.FileId + '" > 下载</a></div></li>');
        });

        //jQuery('.sf').Validform({
        //    tiptype: 3
        //});
        $('#showModal').click(function () {
            //var len = $('.Validform_wrong').length;
            //if (!len) {
            //    $('#modal6').modal();
            //}
            if (!jQuery('#ActivityDate').val()) {
                layer.msg('请选择培训时间');
                return;
            }
            if (!jQuery('#ActivityTime').val()) {
                layer.msg('请选择培训时长');
                return;
            }
            //if (!jQuery('#ActivityLocation').val()) {
            //    layer.msg('请选择培训地点');
            //    return;
            //}
            if("@Model.EduType" =="1"){
                if (!jQuery('#Theme').val()) {
                    layer.msg('请输入题目');
                    return;
                }}
            if (!jQuery('#Teacher').val()) {
                layer.msg('请选择主持人');
                return;
            }
            if (!jQuery('#RegisterPeople').val()) {
                layer.msg('请选择记录人');
                return;
            }
            if (!jQuery('#AttendPeople').val()) {
                layer.msg('请选参加人员');
                return;
            }
            var flow = $('#Flow').val();
            if (flow == "2") {
                $('#modal6').modal();
            } else {
                jQuery('.sf').submit();
            }
        });
    });
    function fn$date() {
        $('.datetime').each(function () {
            var id = $(this).attr('id');
            layui.use('laydate', function () {
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#' + id,
                    type: 'datetime',
                    format: 'yyyy-MM-dd HH:mm'
                });
            });
        });
    }

    function fn$delete(e) {
        jQuery('#delete').val(jQuery(e).data('id'));

    }
    function fn$deletenew(e) {
        var fileid = jQuery(e).data('id');
        $.ajax({
            url: '@Url.Action("deletenewfile")',
            type: 'post',
            data: { id: fileid },
            loading: "数据提交中...",
            success: function (data) {

                var data = JSON.parse(data);
                var files = data.resultdata.files;
                var nfiles = jQuery.parseJSON(files);
                var dv = document.getElementById("filelist1");
                dv.innerHTML = "";
                jQuery.each(nfiles, function () {
                    jQuery('#filelist1').append('<li><div class="left">' + this.FileName + '</div><div class="pull-right right"><input type="button" class="my-btn remove" onclick="fn$deletenew(this);" data-id="' + this.FileId + '" value="删除" /><a class="my-btn bg-3669e1 c-fff mg-l-20" href="@Url.Action("DownloadFile", "ResourceFile", new { area = "PublicInfoManage" })?keyValue=' + this.FileId + '" > 下载</a></div></li>');
                });
            }
        });
    }

    var url = '@Html.Raw(Url.Action("New"))';
    function fn$over() {
        jQuery('.sf').submit();
    }

    function fn$clear() {
        jQuery('#AttendPeopleId').val('');
        jQuery('#AttendPeople').val('');

        jQuery('#users li span').removeClass("on");
    }
    function fn$find() {
        jQuery('#job').val('');

        layer.open({
            area: ['600px', '400px'],
            title: '查询课件',
            type: 1,
            content: jQuery('#container3')
        });
    }
</script>

<div class="main-content">
    <div class="container-fluid">
        @using (Html.BeginForm("Appoint", "Education", FormMethod.Post, new { @class = "sf", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.ID)
            @Html.HiddenFor(x => x.BZId)
            @Html.HiddenFor(x => x.BZName)
            @Html.HiddenFor(x => x.CreateDate)
            @Html.HiddenFor(x => x.CreateUser)
            @Html.HiddenFor(x => x.ActivityEndDate)
            @Html.HiddenFor(x => x.EduType)
            @Html.HiddenFor(x => x.Flow)
            <input type="hidden" id="isfile" name="isfile" value="false" />
            <input type="hidden" id="delete" name="delete" value="" />
            <div class="title clearfix">
                <a class="pull-left" href="@Url.Action("Index")">
                    <img src="@Url.Content("~/Content/styles/static/images/arrow-back-icon.png")" alt="">
                    @if (Model.EduType == "1")
                    {
                        @Html.Raw("技术讲课");
                    }
                    @if (Model.EduType == "2")
                    {
                        @Html.Raw("技术问答");
                    }
                    @if (Model.EduType == "3")
                    {
                        @Html.Raw("事故预想");
                    }@if (Model.EduType == "4")
                    {
                        @Html.Raw("反事故演习");
                    }
                </a>
                @{
                    var text = "培训准备";
                    if (Model.Flow == "2")
                    {
                        text = "开始培训";
                    }

                    <div class="pull-right" style="margin-top:-3px;">
                        <button class="my-btn bg-ffb319 lh-36 h-36 w-140" style="font-weight: normal;" id="showModal" type="button">
                            <img src="@Url.Content("~/Content/styles/static/images/activity-icon-1.png")" alt="">
                            @text
                        </button>
                    </div>
                }
            </div>
            <div class="bg-f5f8fe pd-10 my-body">
                <div class="bd-b-e3ebfd bg-fff pd-10">
                    <div class="clearfix">
                        <div class="pull-left my-form-control w-30-">
                            <label>培训时间</label>
                            <div>
                                @Html.TextBoxFor(x => x.ActivityDate, "{0:yyyy-MM-dd HH:mm}", new { @class = "datetime", nullmsg = "不能为空", datatype = "*", placeholder = "请选择" })
                            </div>
                        </div>
                        <div class="pull-left my-form-control w-30-">
                            @{
            if (Model.EduType == "1")
            {
                <label>预计时长</label>
            }
            else
            {
                <label>培训时长</label>
            }
                            }

                            <div>
                                @Html.TextBoxFor(x => x.ActivityTime, new { nullmsg = "不能为空", datatype = "*", placeholder = "请选择培训时长" })
                                @*<select>
                                        <option value="value"> 半个小时</option>
                                        <option value="value"> 一个小时</option>
                                        <option value="value"> 而个小时</option>
                                        <option value="value"> 三个小时</option>
                                        <option value="value"> 四个小时</option>
                                    </select>*@
                            </div>
                        </div>
                        <div class="pull-left my-form-control w-30-">
                            <label>培训地点</label>
                            <div>
                                @Html.TextBoxFor(x => x.ActivityLocation, new { nullmsg = "不能为空", datatype = "s1-100", placeholder = "请输入培训地点" })
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="pull-left my-form-control w-30-">
                            @{
            if (Model.EduType == "1")
            {
                <label>主讲人</label>
            }
            else
            {
                <label>主持人</label>
            }
                            }
                            <div>
                                @Html.HiddenFor(x => x.TeacherId)
                                @Html.TextBoxFor(x => x.Teacher, new { nullmsg = "不能为空", datatype = "s1-100", placeholder = "请选择主持人" })
                            </div>
                        </div>
                        <div class="pull-left my-form-control w-30-">
                            <label>记录人</label>
                            <div>
                                @Html.HiddenFor(x => x.RegisterPeopleId)
                                @Html.TextBoxFor(x => x.RegisterPeople, new { nullmsg = "不能为空", datatype = "s1-100", placeholder = "请选择记录人" })
                            </div>
                        </div>
                        <div class="pull-left my-form-control w-30-">
                            <label>提醒</label>
                            <div>
                                @Html.TextBoxFor(x => x.Remind, new { nullmsg = "不能为空", datatype = "s1-100", placeholder = "请选择提醒" })

                            </div>
                        </div>
                    </div>
                    @{
            if (Model.EduType != "4") 
            {
                <div class="clearfix">
                        <div class="pull-left my-form-control w-30-" style="width:90%;">
                            <label>题目</label>
                            <div>
                                @Html.TextBoxFor(x => x.Theme, new { nullmsg = "不能为空", datatype = "*", @autofocus = true })

                            </div>
                        </div>
                    </div>
            }
                    }
                    
                    <div class="clearfix my-form-control w-90- input-textarea">
                        <label>参加人员</label>
                        <div style="position: relative;">
                            @Html.HiddenFor(x => x.AttendPeopleId)
                            @Html.TextAreaFor(x => x.AttendPeople, new { onfocus = "this.blur()" })
                            <button class="layui-btn layui-btn-primary" onclick="fn$clear(); return false;" style="border: 2px solid #3669e1;">清空</button>
                        </div>
                    </div>
                    @{
            if (Model.EduType == "4")
            {
                <div class="clearfix">
                    <div class="pull-left my-form-control w-30-" style="width:90%;">
                        <label>运行方式</label>
                        <div>
                            @Html.TextBoxFor(x => x.RunWay, new { nullmsg = "不能为空", datatype = "*", @autofocus = true })

                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left my-form-control w-30-" style="width:90%;">
                        <label>题目</label>
                        <div>
                            @Html.TextBoxFor(x => x.Theme, new { nullmsg = "不能为空", datatype = "*", @autofocus = true })

                        </div>
                    </div>
                </div>
            }
                    }
                </div>
                @{
            if (Model.EduType == "1")
            {
                <div class="bg-fff pd-10 launch-activity-list">
                    <div class="clearfix pd-b-20 pd-t-10">
                        <div class="pull-left f-18 f-w c-0d0d0d">选择课件</div>
                        <div class="pull-right add" onclick="fn$find();">
                        </div>
                    </div>
                    <div style="overflow-y:auto; ">
                        @Html.Hidden("filedata1", ViewData["files1"])
                        <ul class="clearfix" id="filelist1"></ul>
                    </div>
                </div>
                    <div class="bg-fff pd-10 launch-activity-list">
                        <div class="clearfix pd-b-20 pd-t-10">
                            <div class="pull-left f-18 f-w c-0d0d0d">上传课件</div>
                            <div class="pull-right add">
                                <input id="filebox" type="file" style="opacity:0;" name="file" />
                            </div>
                        </div>
                        <div style="overflow-y:auto; ">
                            @Html.Hidden("filedata", ViewData["files"])
                            <ul class="clearfix" id="filelist"></ul>
                        </div>
                    </div>
            }
            else
            {
                if (Model.EduType != "4") { 
                <div class="bg-fff pd-10 launch-activity-list">
                    <div class="clearfix pd-b-20 pd-t-10">
                        <div class="pull-left f-18 f-w c-0d0d0d">上传课件</div>
                        <div class="pull-right add">
                            <input id="filebox" type="file" style="opacity:0;" name="file" />
                        </div>
                    </div>
                    <div style="overflow-y:auto; ">
                        @Html.Hidden("filedata", ViewData["files"])
                        <ul class="clearfix" id="filelist"></ul>
                    </div>
                </div>
                }
                else 
                {
                    <div class="bg-fff pd-10 launch-activity-list" style="display:none;">
                    <div class="clearfix pd-b-20 pd-t-10">
                        <div class="pull-left f-18 f-w c-0d0d0d">上传课件</div>
                        <div class="pull-right add">
                            <input id="filebox" type="file" style="opacity:0;" name="file" />
                        </div>
                    </div>
                    <div style="overflow-y:auto; ">
                        @Html.Hidden("filedata", ViewData["files"])
                        <ul class="clearfix" id="filelist"></ul>
                    </div>
                </div>
                }
            }
                }


            </div>
            <footer class="main-footer">
                武汉博晟安全技术股份有限公司   版权所有
            </footer>

            <div class="sign" style="display:none;" id="users">
                <ul class="nav my-nav">
                    @{
            var users =(IList<BSFramework.Application.Entity.PeopleManage.PeopleEntity>)ViewData["users"];

            if (string.IsNullOrEmpty(Model.AttendPeopleId))  //参加人员为空，全部 默认选中
            {
                for (int i = 0; i < users.Count; i++)
                {
                        <li data-id="@Html.Raw(users[i].ID)">
                            <span>@Html.DisplayFor(x => users[i].Name)</span>
                           
                            <span class="my-radio @("on")"></span>
                        </li>
                }
            }
            else 
            {
                var parr = Model.AttendPeopleId.Split(',').ToList();
                for (int i = 0; i < users.Count; i++)
                {
                        <li data-id="@Html.Raw(users[i].ID)">
                            <span>@Html.DisplayFor(x => users[i].Name)</span>
                           @if(parr.Contains(users[i].ID))
                           {
                            <span class="my-radio @("on")"></span>
                            }else
                            {
                               <span class="my-radio"></span>
                           }
                            
                        </li>
                }
            }
                    }
                </ul>
                <div class="text-center mg-t-10">
                    <button class="btn bg-3669e1 c-fff" style="width:200px;">确定</button>
                </div>
            </div>
        }
    </div>

</div>
<div class="sign addr" style="display:none;" id="myplace">
    <ul class="nav my-nav" style="text-align:center;">
        <li class="on">班组办公室</li>
        <li>班组学习室</li>
        <li>会议室一</li>
        <li>其他</li>
    </ul>
</div>
<div class="sign" style="display:none;" id="mypeople">
    <ul class="nav my-nav">
        @{
            var users1 =(IList<BSFramework.Application.Entity.PeopleManage.PeopleEntity>)ViewData["users"];
        }
        @for (int i = 0; i < users1.Count; i++)
        {
            <li data-id="@Html.Raw(users1[i].ID)">@Html.Raw(users1[i].Name)</li>
        }
    </ul>
</div>

<div class="sign addr" style="display:none;" id="mylong">
    <ul class="nav my-nav">
        <li>30分钟</li>
        <li>45分钟</li>
        <li>1小时</li>
        <li>1.5小时</li>
        <li>2小时</li>
        <li>2.5小时</li>
        <li>3小时</li>
        <li>3.5小时</li>
        <li class="on">4小时</li>
        <li>4.5小时</li>
    </ul>
</div>

<div class="sign addr" style="display:none;" id="myalert">
    <ul class="nav my-nav">
        <li>无提醒</li>
        <li>准时提醒</li>
        <li>提前5分钟</li>
        <li>提前10分钟</li>
        <li class="on">提前15分钟</li>
        <li>提前半小时</li>
        <li>提前1小时</li>
        <li>提前1天</li>
        <li>提前2天</li>
        <li>提前3天</li>
    </ul>
</div>

<div class="modal fade launch-modal" id="modal6" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-my" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">友好提示</h4>
            </div>
            <div class="modal-body">
                <div class="text-center c-0d0d0d f-18 pd-t-20 pd-b-20">
                    培训开始就无法变更，请确认！
                </div>
                <div class="text-center mg-t-20 mg-b-20">
                    <button class="my-btn mg-r-15 bg-3669e1" data-dismiss="modal" onclick="fn$over();">确定</button>
                    <button class="my-btn bd" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container3" style="text-align:center;padding:10px 0 0 50px;display:none;">
    <table>
        <tr>
            <td>课件名称</td>
            <td style="padding-left:10px;">
                <input type="text" id="job" name="job" class="my-input" placeholder="请输入" maxlength="200" style="width:400px;">
            </td>
        </tr>
    </table>
</div>

