@model BSFramework.Application.Entity.ToolManage.ToolInventoryEntity
@using BSFramework.Application.Entity.PublicInfoManage
@{
    ViewBag.Title = "Detail2";
    Layout = "~/Views/Shared/_FlowForm.cshtml";
}
<script src="@Url.Content("~/Content/scripts/layui/layui.all.js")"></script>
<script src="@Url.Content("~/Content/scripts/jquery/jquery.serializeJSON.min.js")"></script>
<script src="@Url.Content("~/Content/scripts/plugins/uploadify/ajaxfileupload.js")"></script>
<style>
    .images-container {
        min-height: 120px;
    }

        .images-container li {
            list-style: none;
            float: left;
            padding: 0px 5px;
        }

    .yinpin li {
        list-style: none;
        float: left;
        padding: 0px 5px;
    }

    .items li {
        list-style: none;
        float: left;
        padding: 0px 5px;
    }

    table tr {
        height: 45px;
    }
</style>
<script>
    function video() {
        var id = '@Model.ID';
        dialogOpen({
            id: "Detail",
            title: '查看详情',
            url: '/../@Url.Action("GlassWareVideo")/' + id,
            width: "1050px",
            height: "720px",
            btn: null
        });
    }
</script>
<div style="margin-left: 10px; margin-right: 10px;">
    <div class="tab-content" style="padding-top: 15px;">
        <div id="BaseInfo" class="tab-pane active" style=" padding-right: 30px;">
            <table class="form">
                
                <tr>
                    <td class="formTitle">名称<font face="宋体"></font></td>
                    <td class="formValue" colspan="3">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @readonly = "readonly" })
                        @Html.HiddenFor(x => x.CreateDate)
                        @Html.HiddenFor(x => x.DeptId)
                        @Html.HiddenFor(x => x.BZId)
                        @Html.HiddenFor(x => x.ID)

                    </td>
                </tr>
                <tr>
                    <td class="formTitle">类别<font face="宋体"></font></td>
                    <td class="formValue" colspan="3">
                        @Html.TextBoxFor(x => x.Type, new { @class = "form-control", @readonly = "readonly" })

                    </td>
                </tr>
                <tr>
                    <td class="formTitle">规格型号<font face="宋体"></font></td>
                    <td class="formValue" colspan="3">
                        @Html.TextBoxFor(x => x.Spec, new { @class = "form-control", @readonly = "readonly" })

                    </td>
                </tr>
                <tr>
                    <td class="formTitle">图片</td>
                    <td class="formValue" colspan="3">
                        <div class="file">
                            <label for="uploadFile">
                                <img id="uploadPreview" style="width: 160px; height: 160px; " src="@Model.Path" />
                            </label>

                        </div>
                    </td>

                </tr>
                <tr>
                    <td class="formTitle">基本信息<font face="宋体"></font></td>
                    <td class="formValue" colspan="3">
                        @Html.TextAreaFor(x => x.Info, new { @style = "height:120px;", @class = "form-control", @readonly = "readonly" })

                    </td>
                </tr>
                <tr>
                    <td class="formTitle" rowspan="2">
                        相关文件
                    </td>

                    <td style="text-align:center;">
                        @{
                            if (!string.IsNullOrEmpty(Model.File))
                            {
                                <a id="msds" href="@Model.File" target="_blank"  style="text-decoration:none;color:blue;">操作规程</a>
                            }
                        }
                    </td>
                </tr>
                <tr>

                    <td style="text-align:center; color:blue;">
                        @{
                            if (!string.IsNullOrEmpty(Model.Video))
                            {
                                <a id="video" onclick="video()" style="text-decoration:none;color:blue;" target="_blank">操作视频</a>
                            }
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

