@using BSFramework.Entity.EvaluateAbout
@model BSFramework.Entity.EvaluateAbout.EvaluateCalcEntity

@{
    ViewBag.Title = "考评";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/skin.css")">
<script src="@Url.Content("~/Content/scripts/plugins/highcharts/highcharts.js")"></script>
<script src="@Url.Content("~/Content/scripts/plugins/highcharts/highcharts-more.js")"></script>
<style>
    .form-group {
        padding-left: 10px;
    }
</style>
<style>
    #table td {
        padding: 8px 10px;
    }

        #table td:first-child {
            font-weight: bold;
            font-size: 16px;
        }

        #table td div {
            position: relative;
        }

        #table td span {
            position: absolute;
            width: 100px;
            left: 50%;
            margin-left: -50px;
            top: 50%;
            margin-top: -10px;
            line-height: 20px;
            text-align: center;
            font-size: 16px;
        }

        #table td em {
            display: block;
            height: 40px;
            background: #9E78FF;
            font-size: 16px;
        }

        #table td:nth-child(2) em {
            background: #5FE2C2;
        }

    #table .current td {
        padding-top: 0;
        padding-bottom: 0;
    }

    #table .current:nth-child(2) td {
        padding-bottom: 10px;
    }

    #table .current .title {
        font-weight: bold;
        font-size: 40px;
        color: #5FE2C2;
    }

    #table .current .title-2 {
        color: #9E78FF;
    }

    #table .current:nth-child(2) .title {
        color: #9E78FF;
    }

    #table .current .sub-title {
        font-size: 16px;
        font-weight: bold;
        color: #9E78FF;
    }

    #table .sub-title:nth-child(2) {
        color: #5FE2C2;
    }

    .bs-area-2 {
        position: relative;
    }

        .bs-area-2 > .row {
            height: 50px;
            position: absolute;
            top: -20px;
            width: 100%;
        }

        .bs-area-2 > img {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -12px;
            margin-left: -30px;
            z-index: 1000;
        }

    .table-align {
        display: flex;
        height: 100%;
        align-items: center;
    }
</style>

<script>
    var pcts;
    jQuery(function () {
        jQuery('body').height(jQuery(window).height() - 80);

        var categories = jQuery.parseJSON('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.categories))');

        jQuery('#chart').highcharts({
            chart: {
                polar: true,
                type: 'line'
            },
            title: {
                enabled: false,
                text: '考评PK',
                x: 50,
                style: {
                    'font-weight': 'bold',
                }

            },
            pane: {
                size: '80%'
            },
            xAxis: {
                categories: categories,
                tickmarkPlacement: 'on',
                lineWidth: 0,
            },
            yAxis: {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0,
                labels: {
                    enabled: false
                }
            },
            tooltip: {
                shared: true,
                formatter: function () {
                    var s = this.x;
                    jQuery.each(this.points, function (i, o) {
                        var pct = pcts[i], point = this;
                        item = jQuery.grep(pct.Data, function (oo) {
                            return oo.Category == point.key;
                        });
                        s += '<br/> <span style="color:' + point.color + '">\u25CF</span> ' + this.series.name + ': <b>' + parseFloat(item[0].ActualScore).toFixed(2) + '</b>';
                    });
                    return s;
                }
            },
            legend: {
                align: 'left',
                verticalAlign: 'bottom',
                layout: 'vertical'
            },
            series: []
        });

        jQuery.getJSON('@Url.Action("GetCalcScore3")', { evaluateid: jQuery('#season1').val(), groupid: jQuery('#season2').val(), othergroupid: jQuery('#season3').val() }, function (json) {
            pcts = json;
            jQuery.each(json, function (i) {
                var serie = {
                    name: this.Season,
                    pointPlacement: 'on',
                    data: []
                };

                if (i == 0) {
                    serie.dashStyle = 'longdash';
                }

                jQuery.each(this.Data, function (di, dd) {
                    serie.data.push(dd.Pct);
                });


                jQuery('#chart').highcharts().addSeries(serie);
            });

            jQuery('.bs-area-2 > img').fadeOut();

            var total = 0, total2 = 0;
            jQuery.each(pcts[1].Data, function () {
                total += this.ActualScore;
                //jQuery('#table').append('<tr><td>' + this.Category + '</td><td>' + this.ActualScore + '</td></tr>');
                jQuery('#table').append('<tr><td>' + this.Category + '</td><td><div><span>' + this.ActualScore + ' </span><em style="width:' + this.Pct + '%;"></em></div></td></tr>');
            });

            jQuery.each(pcts[2].Data, function (i) {
                total2 += this.ActualScore;
                jQuery('#table').find('tr:eq(' + i + ')').append('<td><div><span>' + this.ActualScore + ' </span><em style="width:' + this.Pct + '%;"></em></div></td>');
            });

            jQuery('#table').prepend('<tr class="current"><td>&nbsp;</td><td class="sub-title">排名' + pcts[1].Seq + '</td><td class="sub-title">排名' + pcts[2].Seq + '</td></tr>');
            jQuery('#table').prepend('<tr class="current"><td width="33.3333%">' + '综合得分' + '</td><td  class="title title-1" width="33.3333%">' + total + '</td><td  class="title title-2" width="33.3333%">' + total2 + '</td></tr>');
        });



        @*jQuery('#season1').change(function () {
            var season = jQuery(this).find('option:checked').text();

            jQuery.getJSON('@Url.Action("GetCalcScore3")', { evaluateid: jQuery('#season1').val(), groupid: jQuery('#season2').val(), othergroupid: jQuery('#season3').val() }, function (json) {
                var data = [], total = 0;
                pcts = json;

                jQuery.each(json[0].Data, function (i) {
                    data.push(this.Pct);
                    total += this.ActualScore;
                });
                jQuery('#chart').highcharts().series[0].update({ name: json[0].Season });
                jQuery('#chart').highcharts().series[0].setData(data);

                data = [];
                total = 0;
                jQuery.each(json[1].Data, function (i) {
                    data.push(this.Pct);
                    total += this.ActualScore;
                    jQuery('#table').find('tr:eq(' + (i + 2) + ')').find('td:eq(1)').html('<div><span>' + this.ActualScore + ' </span><em style="width:' + this.Pct + '%;"></em></div>');
                });
                jQuery('#table').find('tr:eq(0)').find('td:eq(1)').text(total);
                jQuery('#table').find('tr:eq(1)').find('td:eq(1)').text('排名' + json[1].Seq);
                jQuery('#chart').highcharts().series[1].update({ name: json[1].Season });
                jQuery('#chart').highcharts().series[1].setData(data);

                data = [];
                total = 0;
                jQuery.each(json[2].Data, function (i) {
                    data.push(this.Pct);
                    total += this.ActualScore;
                    jQuery('#table').find('tr:eq(' + (i + 2) + ')').find('td:eq(2)').html('<div><span>' + this.ActualScore + ' </span><em style="width:' + this.Pct + '%;"></em></div>');
                });
                jQuery('#table').find('tr:eq(0)').find('td:eq(2)').text(total);
                jQuery('#table').find('tr:eq(1)').find('td:eq(2)').text('排名' + json.Seq);
                jQuery('#chart').highcharts().series[2].update({ name: json[2].Season });
                jQuery('#chart').highcharts().series[2].setData(data);

                //jQuery.each(json.Data, function (i) {
                //    data.push(this.Pct);
                //    total += this.ActualScore;
                //    //jQuery('#table').find('tr:eq(' + (i + 2) + ')').find('td:eq(2)').html('<div><span>' + this.ActualScore + ' </span><em style="width:' + this.Pct + '%;"></em></div>');
                //});
                jQuery('#table').find('tr:eq(0)').find('td:eq(2)').text(total);
                jQuery('#table').find('tr:eq(1)').find('td:eq(2)').text('排名' + json[2].Seq);

                //jQuery('#chart').highcharts().series[2].update({ name: json.Season });
                //jQuery('#chart').highcharts().series[2].setData(data);
                //pcts[2] = json;
            });
        });*@

        @*jQuery('#season2').change(function () {
            var season = jQuery(this).find('option:checked').text();

            jQuery.getJSON('@Url.Action("GetCalcScore3")', { evaluateid: jQuery('#season1').val(), groupid: jQuery('#season2').val(), othergroupid: jQuery('#season3').val() }, function (json) {
                var data = [], total = 0;
                pcts = json;

                jQuery.each(json[0].Data, function (i) {
                    data.push(this.Pct);
                    total += this.ActualScore;
                });
                jQuery('#chart').highcharts().series[0].update({ name: json[0].Season });
                jQuery('#chart').highcharts().series[0].setData(data);

                data = [];
                total = 0;
                jQuery.each(json[1].Data, function (i) {
                    data.push(this.Pct);
                    total += this.ActualScore;
                    jQuery('#table').find('tr:eq(' + (i + 2) + ')').find('td:eq(1)').html('<div><span>' + this.ActualScore + ' </span><em style="width:' + this.Pct + '%;"></em></div>');
                });
                jQuery('#table').find('tr:eq(0)').find('td:eq(1)').text(total);
                jQuery('#table').find('tr:eq(1)').find('td:eq(1)').text('排名' + json[1].Seq);
                jQuery('#chart').highcharts().series[1].update({ name: json[1].Season });
                jQuery('#chart').highcharts().series[1].setData(data);

                data = [];
                total = 0;
                jQuery.each(json[2].Data, function (i) {
                    data.push(this.Pct);
                    total += this.ActualScore;
                    jQuery('#table').find('tr:eq(' + (i + 2) + ')').find('td:eq(2)').html('<div><span>' + this.ActualScore + ' </span><em style="width:' + this.Pct + '%;"></em></div>');
                });
                jQuery('#table').find('tr:eq(0)').find('td:eq(2)').text(total);
                jQuery('#table').find('tr:eq(1)').find('td:eq(2)').text('排名' + json[2].Seq);
                jQuery('#chart').highcharts().series[2].update({ name: json[2].Season });
                jQuery('#chart').highcharts().series[2].setData(data);
            });
        });*@
    });

    function fn$reload() {
        var season = jQuery(this).find('option:checked').text();

        jQuery.getJSON('@Url.Action("GetCalcScore3")', { evaluateid: jQuery('#season1').val(), groupid: jQuery('#season2').val(), othergroupid: jQuery('#season3').val() }, function (json) {
            var data = [], total = 0;
            pcts = json;

            jQuery.each(json[0].Data, function (i) {
                data.push(this.Pct);
                total += this.ActualScore;
            });
            jQuery('#chart').highcharts().series[0].update({ name: json[0].Season });
            jQuery('#chart').highcharts().series[0].setData(data);

            data = [];
            total = 0;
            jQuery.each(json[1].Data, function (i) {
                data.push(this.Pct);
                total += this.ActualScore;
                jQuery('#table').find('tr:eq(' + (i + 2) + ')').find('td:eq(1)').html('<div><span>' + this.ActualScore + ' </span><em style="width:' + this.Pct + '%;"></em></div>');
            });
            jQuery('#table').find('tr:eq(0)').find('td:eq(1)').text(total);
            jQuery('#table').find('tr:eq(1)').find('td:eq(1)').text('排名' + json[1].Seq);
            jQuery('#chart').highcharts().series[1].update({ name: json[1].Season });
            jQuery('#chart').highcharts().series[1].setData(data);

            data = [];
            total = 0;
            jQuery.each(json[2].Data, function (i) {
                data.push(this.Pct);
                total += this.ActualScore;
                jQuery('#table').find('tr:eq(' + (i + 2) + ')').find('td:eq(2)').html('<div><span>' + this.ActualScore + ' </span><em style="width:' + this.Pct + '%;"></em></div>');
            });
            jQuery('#table').find('tr:eq(0)').find('td:eq(2)').text(total);
            jQuery('#table').find('tr:eq(1)').find('td:eq(2)').text('排名' + json[2].Seq);
            jQuery('#chart').highcharts().series[2].update({ name: json[2].Season });
            jQuery('#chart').highcharts().series[2].setData(data);
        });
    }

</script>
<div class="titlePanel">
    <div class="title-search">
        <div class="form-inline">
            <div class="form-group">
                <label for="person" style="margin-right:10px;">考评季度</label>
                <select id="season1" style="width:200px;">
                    @{
                        var evaluations = ViewBag.evaluations as IList<EvaluateEntity>;
                        foreach (var item in evaluations)
                        {
                            <option value="@Html.Raw(item.EvaluateId)">@Html.Raw(item.EvaluateSeason)</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="person" style="margin-right:10px;">PK班组</label>
                <select id="season2" style="width:200px">
                    @{
                        var groups = ViewBag.groups as IList<BSFramework.Application.Entity.BaseManage.DepartmentEntity>;
                        foreach (var item in groups)
                        {
                            <option value="@Html.Raw(item.DepartmentId)">@Html.Raw(item.FullName)</option>
                        }
                    }
                </select>
                <label for="person">VS</label>
                <select id="season3" style="width:200px">
                    @{
                        var groups1 = ViewBag.groups as IList<BSFramework.Application.Entity.BaseManage.DepartmentEntity>;
                        for (int i = 0; i < groups1.Count; i++)
                        {
                            <option value="@Html.Raw(groups1[i].DepartmentId)" @Html.Raw(groups1.Count > 2 && i == 1 ? "selected" : string.Empty)>@Html.Raw(groups1[i].FullName)</option>
                        }
                        foreach (var item in groups1)
                        {
                            <option value="@Html.Raw(item.DepartmentId)">@Html.Raw(item.FullName)</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <a id="btn_Search" class="btn btn-primary" onclick="fn$reload()"><i class="fa fa-search"></i>查询</a>
            </div>
        </div>
    </div>
</div>
<div class="gridPanel" style="height:100%;border:1px solid #ccc;background-color:white;">
    <div style="width:60%;height:100%;float:left;">
        <div id="chart" style="height:100%;"></div>
    </div>
    <div style="width:40%;height:100%;float:left;padding-left:200px;padding-right:150px;padding-top:100px;">
        <table id="table" style="width:100%;"></table>
    </div>
</div>