@using BSFramework.Application.Entity.BaseManage

@model BSFramework.Entity.WorkMeeting.MeetingJobEntity

@{ ViewBag.Title = "NewJob";
                Layout = "~/Views/Shared/_Layout1.cshtml"; }
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/before.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/app.css")" />
<script src="@Url.Content("~/Content/scripts/validator/Validform.min.js")"></script>
<script src="@Url.Content("~/Content/scripts/layui/layui.all.js")"></script>
<script src="@Url.Content("~/Content/scripts/plugins/hammer.js")"></script>

<style>
    .my-textarea {
        position: relative;
    }

        .my-textarea textarea {
            display: block;
        }

    .measure_nav li {
        width: 100% !important;
    }
</style>
@using (Html.BeginForm("NewJob", "WorkMeeting", FormMethod.Post, new { @class = "sf" }))
{
<div id="temp">
    <div class="pd-20">
        <div class="clearfix ">
            <div class="pull-left w-100- clearfix item">
                <label>工作任务<span style="color:red;">*</span></label>
                <div class="my-input">
                    <input placeholder="请输入工作任务" id="Job" name="Job" type="text" class="block" nullmsg="不能为空" datatype="*1-200">
                </div>
            </div>
        </div>
        <div class="clearfix ">
            <div class="pull-left w-50- clearfix item">
                <label>作业人<span style="color:red;">*</span></label>
                <div class="my-input">
                    <input placeholder="请选择作业人" name="newuser" type="text" class="block selectPerson" nullmsg="不能为空" datatype="*1-200" onfocus="this.blur()">
                </div>
            </div>
            <div class="pull-left w-50- clearfix item">
                <label>计划时间<span style="color:red;">*</span></label>
                <div class="my-input">
                    <input placeholder="请选择时间" name="StartTime" type="text" class="block datetime" nullmsg="不能为空" datatype="*1-200" onfocus="this.blur()" style="width:200px;text-align:center;"> -
                    <input placeholder="请选择时间" name="EndTime" type="text" class="block datetime" nullmsg="不能为空" datatype="*1-200" onfocus="this.blur()" style="width:200px;text-align:center;">
                    <img src="@Url.Content("~/Content/styles/static/images/time.png")" alt="">
                </div>
            </div>
        </div>
        <div class="clearfix ">
            <div class="pull-left w-50- clearfix item">
                <label>任务类别<span style="color:red;">*</span></label>
                <div class="my-input">
                    <select id="TaskType" name="TaskType" style="border:none; width:100%; height:40px;">
                        <option value="日常工作">日常工作</option>
                        <option value="管理任务">管理任务</option>
                        <option value="巡回检查">巡回检查</option>
                        <option value="定期工作">定期工作</option>
                        <option value="消缺任务">消缺任务</option>
                        <option value="安全文明卫生检查">安全文明卫生检查</option>
                        <option value="其他工作">其他工作</option>
                    </select>
                </div>
            </div>
            <div class="pull-left w-50- clearfix item">
                <label>风险等级</label>
                <div class="my-input">
                    <select id="RiskLevel" name="RiskLevel" style="border:none; width:100%; height:40px;">
                        <option value="重大风险">重大风险</option>
                        <option value="较大风险">较大风险</option>
                        <option value="一般风险">一般风险</option>
                        <option value="低风险" selected="selected">低风险</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="clearfix item">
            <label>危险因素</label>
            <div class="my-textarea">
                <textarea class="block selectDanger" id="Dangerous" name="Dangerous" placeholder="请选择危险因素"></textarea>
            </div>
        </div>
        <div class="clearfix item">
            <label>防范措施</label>
            <div class="my-textarea">
                <textarea name="Measure" id="Measure" class="block selectMeasure" placeholder="请选择防范措施"></textarea>
            </div>
        </div>
    </div>
</div>}

<!--选择作业人员弹出层-->
<div class="my-modal" id="jobuser-modal" style="display:none">
    <div>
        <table class="table" style="text-align:center;">
            <tr>
                <td style="width:40%;">班组成员</td>
                <td style="width:30%;">工作负责人</td>
                <td style="width:30%;">工作班成员</td>
            </tr>
        </table>
    </div>
</div>
<script>
    var meetingid = '@ViewBag.meetingid';
    var validform;
    var jobusers = [];
    var start, end;
    jQuery(function () {

        fn$InitPerson();

        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '[name="StartTime"]',
                type: 'datetime',
                //range: true,
                format: 'yyyy/MM/dd HH:mm',
                done: function (val, date) {
                    start = new Date(date.year, date.month - 1, date.date, date.hours, date.minutes);
                    //end = new Date(e.year, e.month-1, e.date, e.hours, e.minutes);
                }
            });
        });
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '[name="EndTime"]',
                type: 'datetime',
                //range: true,
                format: 'yyyy/MM/dd HH:mm',
                done: function (val, date) {
                    end = new Date(date.year, date.month - 1, date.date, date.hours, date.minutes);
                }
            });
        });

        validform = jQuery('.sf').Validform({
            tiptype: 3,
            tipSweep: true,
            callback: function () {
                if (jQuery.grep(jobusers, function (o) { return o.JobType == "ischecker" }).length == 0) {
                    layer.msg('请选择工作负责人！');
                    return false;
                }

                var job = { Job: jQuery('#Job').val(), StartTime: start, EndTime: end, Relation: { JobUsers: jobusers, StartMeetingId: meetingid }, DangerousList: dangerousList, Dangerous: jQuery('#Dangerous').val(), Measure: jQuery('#Measure').val(), TaskType: $("#TaskType").val(), RiskLevel: $("#RiskLevel").val() };
                layer.msg('保存中...', { icon: 16, shade: 0.1, time: 0 });
                jQuery.ajax({
                    url: '@Url.Action("NewJob")',
                    type: 'POST',
                    data: JSON.stringify(job),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        layer.closeAll();
                        if (data.success)
                            parent.fn$callback(data.data);
                        else {
                            layer.alert(data.message || '保存失败！', { icon: 2, shade: 0.1 });
                        }
                    },
                    error: function () {
                        layer.closeAll();
                        jQuery('#btn-save').attr('disabled', false);
                        jQuery('#btn-submit').attr('disabled', false);
                    }
                });
                return false;
            }
        });

        jQuery('.selectPerson').click(function () {
            jQuery.each(jobusers, function (i, o) {
                if (o.JobType == 'ischecker')
                    jQuery('#jobuser-modal tr[data-id="' + o.UserId + '"] td:eq(1) span').addClass('on');
                else
                    jQuery('#jobuser-modal tr[data-id="' + o.UserId + '"] td:eq(2) span').addClass('on');
            });

            layer.open({
                area: ['500px', '520px'],
                title: '选择作业人',
                type: 1,
                content: $('#jobuser-modal'),
                btn: ['确定', '取消'],
                yes: function (index) {
                    jobusers = [];
                    jQuery('#jobuser-modal span.on').each(function () {
                        jobusers.push({ UserId: jQuery(this).parent().parent().data('id'), UserName: jQuery(this).parent().parent().find('td:first').text(), JobType: jQuery(this).data('role') });
                    });
                    var jobuser = '';
                    jQuery.each(jQuery.grep(jobusers, function (o) { return o.JobType == 'ischecker'; }), function (i, o) {
                        jobuser += o.UserName + '、';
                    });
                    jQuery.each(jQuery.grep(jobusers, function (o) { return o.JobType == 'isdoperson'; }), function (i, o) {
                        jobuser += o.UserName + '、';
                    });
                    jobuser = jobuser.replace(/、$/, '');
                    jQuery('.selectPerson').val(jobuser);

                    layer.close(index);
                },
                end: function () {
                    jQuery('#jobuser-modal span.on').each(function () {
                        jQuery(this).removeClass('on');
                    });
                    $('#jobuser-modal').hide();
                }
            });
        });

        //点作业人选人
        jQuery('#jobuser-modal').on('click', 'tr span.my-ck', function () {
            if (jQuery(this).hasClass('on')) {
                jQuery(this).removeClass('on');
            } else {
                if (jQuery(this).hasClass('ischecker')) {
                    jQuery('.ischecker').removeClass('on');
                }
                jQuery(this).parent().parent().find('.my-ck').removeClass('on');
                jQuery(this).addClass('on');
            }
        });
    });

    //班组人员初始化
    function fn$InitPerson() {
        jQuery.getJSON('@Url.Action("GetPersons")', function (data) {
            if (jQuery.isEmptyObject(data)) return;

            jQuery.each(data, function () {
                jQuery('#jobuser-modal .table').append('<tr data-id="' + this.ID + '"><td>' + this.Name + '</td><td><span class="my-ck ischecker" data-role="ischecker"></span></td><td><span class="my-ck isdoperson" data-role="isdoperson"></span></td></tr>');
                jQuery('#duty-modal table').append('<tr data-userid="' + this.ID + '"><td>' + this.Name + '</td><td><span class="my-ck"></span></td><td><span class="my-ck"></span></td></tr>');
            });
        });
    }

    function fn$save() {
        validform.submitForm();
    }
</script>

<!--选择危险因素-->
<div id="list-dangerous" class="sign modal" style="position:relative;padding:0px;height:100%;">
    <div style="height:100%;">
        <ul class="nav measure_nav ul-container" style="overflow-y:auto;padding:0px 30px;min-height:0px;max-height:initial;"></ul>
        <div style="padding:0px 30px; height:200px;">
            <button class="add_btn" style="width:100%;background-color:#3668e1;line-height:50px;border:none;"><img src="@Url.Content("~/Content/styles/static/images/measure_add.png")"></button>
            <input type="text" placeholder="请输入" maxlength="100" style="width:100%; height:50px;">
        </div>
    </div>
</div>
<script>
    var dangerousList;
    function openDangerous() {
        dangerousList = [];

        jQuery('#list-dangerous li.select').removeClass('select');

        jQuery.each(dangerousList, function (i, o) {
            jQuery('#list-dangerous li[data-id="' + o.DangerousId + '"]').addClass('select');
        });

        jQuery('#list-dangerous').show();

        layer.open({
            title: '危险因素',
            type: 1,
            area: ['400px', jQuery(window).height() - 60 + 'px'],
            content: jQuery('#list-dangerous'),
            scrollbar: true,
            btn: ['确定', '取消'],
            yes: function (index) {
                ensureDangerous();
                jQuery('#list-dangerous').hide();
                layer.close(index);
            },
            end: function () {
                jQuery('#list-dangerous').hide();
            }
        });
    }

    jQuery(function () {
        jQuery('#list-dangerous div ul').height(jQuery(window).height() - 260);

        //点击危险因素
        jQuery('.selectDanger').click(function () {
            jQuery(this).blur();
            //openDangerous();

            top.layer.open({
                id:'DangerReview',
                type: 2,
                title: '风险辨识评估',
                shade: 0.6,
                area: ['1280px', '720px'],
                content: '@Url.Action("DangerReview")',
                btn: ['确定'],
                yes: function (idx, layero) {
                    var iframeWin = top.window[layero.find('iframe')[0]['name']];
                    var dangerList = iframeWin.fn$ok();
                    dangerousList = dangerList;
                    ensureDangerous();
                    top.layer.close(idx);
                }
            });
        });

        //删除按钮阻止事件冒泡
        jQuery('#list-dangerous').on('mousedown', '.delete_btn', function (e) {
            e.stopPropagation();
        });

        //删除危险因素
        jQuery('#list-dangerous').on('click', '.delete_btn', function () {
            var el = this;
            jQuery.post('@Url.Action("DeleteDangerous")', { id: jQuery(this).parent().data('id') }, function (data) {
                if (data.success) {
                    jQuery(el).parent().remove();
                } else {
                    layer.msg(data.message);
                }
            }, 'json');
        });

        //点击隐藏删除
        jQuery(document).mousedown(function () {
            jQuery('#list-dangerous li.remove').toggleClass('remove');
            jQuery('#list-measures li.remove').toggleClass('remove');
        });

        //新增危险因素
        jQuery('#list-dangerous').on('click', '.add_btn', function () {
            var input = jQuery(this).next();
            var text = input.val();
            if (!text) return;

            jQuery.post('@Url.Action("PostDangerous")', { Content: text }, function (data) {
                if (data.success) {
                    jQuery('#list-dangerous ul').prepend('<li data-id="' + data.data.ID + '"><span>' + data.data.Content + '</span><button class="delete_btn">删除</button></li>');
                    input.val('');

                    jQuery('#list-dangerous ul li').first().each(function () {
                        var el = this;
                        var hammer = new Hammer(this);
                        hammer.on('press', function (e) {
                            jQuery(el).addClass('remove');
                        });
                        hammer.on('tap', function (e) {
                            if (jQuery(el).hasClass('select'))
                                removeDangerous(jQuery(el).data('id'));
                            else
                                fn$loadMeasures({ DangerousId: jQuery(el).data('id'), Content: jQuery(el).find('span').text().trim() });
                            jQuery(el).toggleClass('select');
                        });
                    });
                } else {
                    layer.msg(data.message, { icon: 2 });
                }
            }, 'json');
        });

        //载入危险因素
        jQuery.getJSON('@Url.Action("GetDangerous")', {}, function (data) {
            if (data) {
                jQuery.each(data, function (i, o) {
                    jQuery('#list-dangerous ul').append('<li data-id="' + o.ID + '"><span>' + o.Content + '</span><button class="delete_btn">删除</button></li>')
                });
                jQuery('#list-dangerous ul li').each(function () {
                    var el = this;
                    var hammer = new Hammer(this);
                    hammer.on('press', function (e) {
                        jQuery(el).addClass('remove');
                    });
                    hammer.on('tap', function (e) {
                        if (jQuery(el).hasClass('select')) {
                            removeDangerous(jQuery(el).data('id'));
                            jQuery(el).removeClass('select');
                        } else {
                            fn$loadMeasures({ DangerousId: jQuery(el).data('id'), Content: jQuery(el).find('span').text().trim() });
                            jQuery(el).addClass('select');
                        }
                    });
                });
            }
        });
    });

    function removeDangerous(dangerid) {
        jQuery('#list-dangerous li.select[data-id="' + dangerid + '"]').removeClass('select');
        dangerousList = jQuery.grep(dangerousList, function (o) { return o.DangerousId != dangerid; });
    }

    function ensureDangerous() {
        var dangerous = '', measure = '';
        jQuery.each(dangerousList, function (i, o) {
            dangerous += o.Content + '。';
            jQuery.each(o.MeasureList, function (j, p) {
                measure += p.Content + '。';
            });
        });
        jQuery('.selectDanger').val(dangerous);
        jQuery('.selectMeasure').val(measure);
    }
</script>

<!--选择防范措施弹出窗-->
<div id="list-measures" class="sign modal" style="position:relative;padding:0px;height:100%;">
    <div style="height:100%;">
        <ul class="nav measure_nav ul-container" style="overflow-y:auto;padding:0px 30px;min-height:0px;max-height:initial;"></ul>
        <div style="padding:0px 30px; height:200px;">
            <button class="add_btn" style="width:100%;background-color:#3668e1;line-height:50px;border:none;"><img src="@Url.Content("~/Content/styles/static/images/measure_add.png")"></button>
            <input type="text" placeholder="请输入" maxlength="100" style="width:100%; height:50px;">
        </div>
    </div>
</div>
<script>
    jQuery(function () {
        //点击防范措施
        jQuery('.selectMeasure').click(function () {
            jQuery(this).blur();
            openDangerous();
        });

        //删除按钮阻止事件冒泡
        jQuery('#list-measures').on('mousedown', '.delete_btn', function (e) {
            e.stopPropagation();
        });

        //删除防范措施
        jQuery('#list-measures').on('click', '.delete_btn', function () {
            var el = this;
            jQuery.post('@Url.Action("DeleteMeasure")', { id: jQuery(this).parent().data('id') }, function (data) {
                if (data.success) {
                    jQuery(el).parent().remove();
                } else {
                    layer.msg(data.message);
                }
            }, 'json');
        });

        //新增防范措施
        jQuery('#list-measures').on('click', '.add_btn', function () {
            var dangerid = jQuery('#list-measures ul').data('id');
            var input = jQuery(this).next();
            var text = input.val();
            if (!text) return;

            jQuery.post('@Url.Action("PostMesuare")', { Content: text, RiskFactorId: dangerid }, function (data) {
                if (data.success) {
                    jQuery('#list-measures ul').prepend('<li data-id="' + data.data.ID + '"><span>' + data.data.Content + '</span><button class="delete_btn">删除</button></li>');
                    input.val('');
                    jQuery('#list-measures ul li').first().each(function () {
                        var el = this;
                        var hammer = new Hammer(this);
                        hammer.on('press', function (e) {
                            jQuery(el).addClass('remove');
                        });
                        hammer.on('tap', function (e) {
                            jQuery(el).toggleClass('select');
                        });
                    });
                } else {
                    layer.msg(data.message, { icon: 2 });
                }
            }, 'json');
        });
    });

    //防范措施确定
    function ensureMeasure(id, ary) {
        if (ary.length == 0) {
            jQuery('#list-dangerous li[data-id="' + id + '"]').removeClass('select');
            removeDangerous(id);
        }
        else {
            var dangerous = jQuery.grep(dangerousList, function (o, i) {
                return o.DangerousId == id;
            })[0];
            dangerous.MeasureList = ary;
        }
    }

    //加载防范措施
    function fn$loadMeasures(dangerous) {
        dangerousList.push(dangerous);
        jQuery('#list-measures ul').empty();
        jQuery('#list-measures div ul').height(jQuery(window).height() - 260);
        jQuery('#list-measures div ul').data('id', dangerous.DangerousId);
        jQuery.getJSON('@Url.Action("GetMeasures")', { dangerid: dangerous.DangerousId }, function (data) {
            if (data) {
                jQuery.each(data, function (i, o) {
                    jQuery('#list-measures ul').append('<li data-id="' + o.ID + '"><span>' + o.Content + '</span><button class="delete_btn">删除</button></li>')
                });
            }
            jQuery('#list-measures ul li').each(function () {
                var el = this;
                var hammer = new Hammer(this);
                hammer.on('press', function (e) {
                    jQuery(el).addClass('remove');
                });
                hammer.on('tap', function (e) {
                    jQuery(el).toggleClass('select');
                });
            });
        });

        layer.open({
            title: '防范措施',
            type: 1,
            area: ['500px', jQuery(window).height() - 60 + 'px'],
            content: jQuery('#list-measures'),
            scrollbar: true,
            btn: ['确定', '取消'],
            yes: function (index, layero) {
                var ary = [];
                jQuery('#list-measures li.select').each(function () {
                    ary.push({ DangerousId: jQuery(this).data('id'), Content: jQuery(this).find('span').text().trim() });
                });
                ensureMeasure(jQuery('#list-measures ul').data('id'), ary);
                jQuery('#list-measures').hide();
                layer.close(index);
            },
            btn2: function () {
                removeDangerous(jQuery('#list-measures ul').data('id'));
                jQuery('#list-measures').hide();
            },
            cancel: function () {
                removeDangerous(jQuery('#list-measures ul').data('id'));
                jQuery('#list-measures').hide();
            }
        });

        jQuery('#list-measures').show();
    }
</script>
