@model BSFramework.Application.Entity.PeopleManage.PeopleEntity

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/app.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/person.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/peccancy.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/styles/static/css/record.css")" />
<script src="@Url.Content("~/Content/scripts/plugins/uploadify/ajaxfileupload.js")"></script>
<script src="@Url.Content("~/Content/scripts/validator/Validform.min.js")"></script>
<script src="@Url.Content("~/Content/scripts/layui/layui.all.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/scripts/plugins/bootstrap-select/bootstrap-select.min.css")" />
<script src="@Url.Content("~/Content/scripts/plugins/bootstrap-select/bootstrap-select.min.js")"></script>

<script>
    $(function () {
        //获取菜单(菜单控制)
        InitMenu($("ul"), undefined);
    })
    var keyValue = '@ViewBag.Id';
    $(function () {
        $("#quartersel").change(function () {
            var val = $("#quartersel").val();
            $("#Planer").val(val);
            $(".selectpicker").selectpicker("refresh");
            var quar = $("button[data-id='quartersel']").attr("title");
            $("#Quarters").val(quar);
        });
        InitFromIdCard();
        $("#quartersel").selectpicker('val', ['02', '04', '05']);
        $('#uploadFile').change(cp);

        var name = $('#RoleDutyId option:selected').text();
        $("#RoleDutyName").val(name);
        $("#RoleDutyId").change(function () {

            name = $('#RoleDutyId option:selected').text();
            $("#RoleDutyName").val(name);
        });

        if ('@ViewBag.IdentityNo' != '0') {
            alert('身份证号已存在，请重新输入！');

        }
        if ('@ViewBag.Tel' != '0') {
            alert('手机号已存在，请重新输入！');

        }
        if ('@ViewBag.labour' != '0') {
            alert('工号已存在，请重新输入！');

        }


        if ('@ViewBag.Account' == '0') {   //user表账号是否存在
            alert('该账号已存在，请重新输入手机号！');
        }
        else if ('@ViewBag.Account' == '1') {
            if ('@ViewBag.Result' != '0') {   //新增成功
                $('#modal4').modal('show');

            }
        }

        jQuery('.sf').Validform({
            tiptype: 3
        });
        $('.main-content').niceScroll({
            autohidemode: false
        });

        //layui.use('laydate', function () {
        //    var laydate = layui.laydate;
        //    laydate.render({
        //        elem: '#EntryDate',
        //        type: 'date'
        //    });
        //})
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#Birthday',
                type: 'date'
            });
            laydate.render({
                elem: '#EntryDate',
                type: 'date'
            });
        })
    });
    function finalvalid() {
        var tel = $('#LinkWay').val();
        if (tel) {
            $.ajax({
                url: '@Url.Action("ValidTel")',
                type: 'post',
                data: { tel: tel },
                success: function (data) {
                    data = JSON.parse(data);
                    if (data.resultdata.tel == "1") {
                        $('#LinkWay').val('');
                        $('#modal35').modal('show');
                        // r= false;
                    }
                }
            });
        }
    }
    function cp() {
        $.ajaxFileUpload({
            url: "UploadFile",
            secureuri: false,
            fileElementId: 'uploadFile',
            dataType: 'json',
            success: function (data) {
                if (top.document.getElementById('photo') != undefined) {

                    top.document.getElementById('photo').src = top.contentPath + data.resultdata;
                }
                document.getElementById('uploadPreview').src = top.contentPath + data.resultdata;
                $("#tempImageSrc").val(top.contentPath + data.resultdata);
                $('#uploadFile').change(cp);
            }
        });
    }
    //取消按钮
    function retlist() {
        window.location.href = '@Url.Action("List", new {})' + '?page=1&pagesize=12';
    }
    function setbir() {
        var val = $('#IdentityNo').val();
        var ndate = new Date();
        var nyear = ndate.getFullYear();
        var nmonth = ndate.getMonth() + 1;
        var nday = ndate.getDate();
        if (val != "" && val.length > 14) {
            var year = val.substr(6, 4);
            var mon = val.substr(10, 2);
            var day = val.substr(12, 2);
            if (parseInt(mon) <= 12 && parseInt(day) <= 31 && parseInt(mon) > 0 && parseInt(day) > 0) {

                var bir = year + '-' + mon + '-' + day;
                $('#Birthday').val(bir);

                var age = nyear - parseInt(year);
                if (nmonth == parseInt(mon)) {
                    var daydif = nday - parseInt(day);
                    if (daydif < 0) {
                        age = age - 1;
                    }
                } else {
                    var mondif = nmonth - parseInt(mon);
                    if (mondif < 0) {
                        age = age - 1;
                    }
                }
                $('#Age').val(age);
            } else {
                $('#modal28').modal('show');
            }
        }
    }

    function valid() {
        var a = parseInt($('#WorkAge').val());
        var b = parseInt($('#CurrentWorkAge').val());
        if (b > a) {
            $('#modal23').modal('show');
            return false;
        } else { return true; }
    }

    //获取url上的参数值
    function GetQueryParamter(name) {
        var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return unescape(r[2]);
        }
        return null;
    }

    //获取身份证信息初始化界面，更多字段在这里维护
    function InitFromIdCard() {
        $("#Name").val(GetQueryParamter("name"));
        $("#Sex").val(GetQueryParamter("sex"));
        $("#IdentityNo").val(GetQueryParamter("ID"));
    }
</script>

<style type="text/css">
    label span {
        padding-left: 5px;
        color: red;
    }

    select {
        width: 150px;
        height: 40px;
    }

        select option {
            text-align: center;
            font-size: 18px;
        }

    .my-input {
        padding: 10px;
    }

        .my-input input[type="text"] {
            position: relative;
            z-index: 100;
            background: none;
        }
    /* bootstrap-select 修改下拉框宽度及样式 */
    .btn-group > .btn:first-child {
        margin-left: 0;
        border: none;
        border-bottom: 2px solid #e3ebfd;
    }

    .bootstrap-select {
        /*width: 220px;\9*/
    }

        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            /*width: 220px;*/
            width: 100%;
        }
</style>

<div class="main-content">
    <div class="container-fluid">
        @using (Html.BeginForm("New", "People", FormMethod.Post, new { @class = "sf", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.DeptName);
            @Html.HiddenFor(x => x.BZName);
            @Html.HiddenFor(x => x.BZCode);
            @Html.HiddenFor(x => x.BZID);
            @Html.HiddenFor(x => x.DeptCode);
            @Html.HiddenFor(x => x.DeptId);
            @Html.Hidden("tempImageSrc");
            @Html.HiddenFor(x => x.Planer);
            @Html.HiddenFor(x => x.RoleDutyName);
            <div>
                <div class="" style="overflow: hidden;">
                    <div class="pull-left title">
                        <a class="pull-left" href="@Url.Action("List", "People", new { page = 1, pagesize = 12 })"><img src="@Url.Content("~/Content/styles/static/images/arrow-back-icon.png")" alt="">添加成员</a>
                    </div>
                </div>
            </div>
            <div class="bg-e3ebfd pd-10 my-body">
                <div class="bg-fff peccancy-list">
                    <div class="body">
                        <div class="tab-toggle">
                            <ul class="nav nav-tabs" style="height:60px;">
                                <li code="people_info" class="active"><a href="javascript:;">基础信息</a></li>
                                <li code="people_train"><a href="javascript:;">培训档案</a></li>
                                <li code="people_lllegal"><a href="javascript:;">违章档案</a></li>
                                <li code="people_health"><a href="javascript:;">职业健康档案</a></li>
                                <li code="people_other"><a href="javascript:;">其他档案</a></li>
                            </ul>
                            <div class="show-div">
                                <div class="bg-fff pd-20" style="display: block;">
                                    <div class="clearfix">
                                        <div class="pull-left w-48- bd-2r-e3ebfd">
                                            <div class="clearfix mg-b-20" style="margin-left:100px;">
                                                <div class="file" style="width:102px; height: 126px;float:left;margin-top:18px;">
                                                    @if (string.IsNullOrEmpty(Model.Photo))
                                                    {
                                                        <img id="uploadPreview" style="width: 102px; height: 126px; " src="@Url.Content("~/Content/styles/static/images/user-icon.png")" />
                                                    }
                                                    else
                                                    {
                                                        <img id="uploadPreview" style="width: 102px; height: 126px; " src="@Model.Photo" />
                                                    }
                                                    <input type="file" name="uploadFile" id="uploadFile" style="display:none;">
                                                </div>
                                                <div style="float:left;margin-top:58px;margin-left:10px;">
                                                    <div style=" height:35px;width:70px;background-color:#3669e1;text-align:center;vertical-align:middle;margin-left:10px;">

                                                        <label for="uploadFile" style="margin-top:8px;height:100%;color:white;text-align:center;vertical-align:middle;font-size:12px;">上传照片</label>
                                                        @*<input type="hidden" id="tempImageSrc" />*@
                                                    </div>
                                                    <div>
                                                        <p style="color:gray;margin-top:5px; font-size:10px;">最佳尺寸：102*126</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="my-form-control">
                                                <label>姓名<span>*</span></label>
                                                <div>
                                                    @Html.TextBoxFor(x => x.Name, new { nullmsg = "不能为空", datatype = "s1-100", placeholder = "请输入姓名" })
                                                </div>
                                            </div>

                                            <div class="my-form-control">
                                                <label>性别<span>*</span></label>
                                                <div>

                                                    @Html.DropDownListFor(x => x.Sex, new SelectList(new string[] { "男", "女" }), null, new { @class = "block my-select" })
                                                    @*//<input type="radio" value="1" id="man" name="Gender" />&nbsp;<label for="man">男</label>&nbsp;&nbsp;&nbsp;
                                                        //<input type="radio" value="0" id="woman" name="Gender" />&nbsp;<label for="woman">女</label>*@
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label>身份证号<span>*</span></label>
                                                <div>
                                                    @Html.TextBoxFor(x => x.IdentityNo, new { blur = "alert(a)", nullmsg = "不能为空", datatype = "idcard", maxlength = "18", placeholder = "请输入身份证号", @onchange = "setbir();" })
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label>出生日期<span>*</span></label>
                                                <div>
                                                    @*<span class="my-input mg-r-15" style="padding:0px 0px 0px 10px; width:165px; height:52px;">*@
                                                    @Html.TextBox("Birthday", Model.Birthday.ToString("yyyy-MM-dd"), new { style = "width:90%" })
                                                    <img style="width:35px;padding-top:5px;height:38px;" src="@Url.Content("~/Content/styles/static/images/time.png")" alt="">
                                                    @*</span>*@
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label>政治面貌<span>*</span></label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.Visage, new SelectList(new string[] { "中共党员", "共青团员", "民主党派", "群众" }), null, new { @class = "block my-select" })
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label>手机号码<span>*</span></label>
                                                <div>
                                                    @Html.TextBoxFor(x => x.LinkWay, new { nullmsg = "不能为空", datatype = "m", maxlength = "11", placeholder = "请输入手机号码", @onchange = "finalvalid();" })
                                                </div>
                                            </div>
                                            <div class="my-form-control" style="height:48px;">
                                                <label>职务<span>*</span></label>
                                                <div>
                                                    @Html.DropDownList("quartersel", ViewData["qddl"] as SelectList, new { @multiple = "multiple", @class = "selectpicker" })
                                                    @Html.HiddenFor(x => x.Quarters);
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label>岗位<span>*</span></label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.RoleDutyId, ViewData["roles"] as SelectList)
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label>民族</label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.Folk, ViewData["minzu"] as SelectList)
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label>籍贯</label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.Native, ViewData["Provins"] as SelectList)
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label>年龄</label>
                                                <div>
                                                    @Html.TextBoxFor(x => x.Age, new { placeholder = "请输入年龄", maxlength = "2" })
                                                    @*@Html.ValidationMessageFor(model => model.Age, "请输入正确的年龄！")*@
                                                </div>
                                            </div>

                                            <div class="my-form-control">
                                                <label>原始学历</label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.OldDegree, new SelectList(new string[] { "请选择", "小学", "初中", "中专", "高中", "大专", "本科", "硕士", "博士", "博士后" }), null, new { @class = "block my-select" })
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label>后期学历</label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.NewDegree, new SelectList(new string[] { "请选择", "小学", "初中", "中专", "高中", "大专", "本科", "硕士", "博士", "博士后" }), null, new { @class = "block my-select" })
                                                </div>
                                            </div>

                                            <div class="my-form-control">
                                                <label>家庭住址</label>
                                                <div>
                                                    @Html.TextBoxFor(x => x.Address, new { placeholder = "请输入家庭地址" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pull-right w-50-">
                                            <div class="my-form-control">
                                                <label>工号</label>
                                                <div>
                                                    @Html.TextBoxFor(x => x.LabourNo, new { placeholder = "请输入工号" })
                                                </div>
                                            </div>

                                            <div class="my-form-control">
                                                <label>部门</label>
                                                <div>
                                                    @Html.TextBox("newdeptname", Model.DeptName + " / " + Model.BZName, new { placeholder = "", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            @*<div class="my-form-control" style="display:none;">
                                                    <label>所属班组</label>
                                                    <div>
                                                        @Html.TextBoxFor(x => x.BZName, new { placeholder = "", @readonly = "readonly" })
                                                    </div>
                                                </div>*@
                                            <div class="my-form-control">
                                                <label>技术等级</label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.TecLevel, new SelectList(new string[] { "请选择", "初级", "中级", "高级", "技师", "高级技师" }), null, new { @class = "block my-select" })
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label>职称</label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.JobName, ViewData["Job"] as SelectList)
                                                </div>
                                            </div>


                                            <div class="my-form-control">
                                                <label>工种</label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.WorkKind, ViewData["wKind"] as SelectList)
                                                </div>
                                            </div>
                                            @*<div class="my-form-control">
                                                    <label>工龄</label>
                                                    <div>
                                                        @Html.TextBoxFor(x => x.WorkAge, new { placeholder = "请输入工龄" })


                                                    </div>
                                                </div>*@
                                            <div class="my-form-control">
                                                <label>工种工龄</label>
                                                <div>
                                                    @Html.TextBoxFor(x => x.CurrentWorkAge, new { placeholder = "请输入工种工龄", @onchange = "valid();", maxlength = "2" })


                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label style="line-height:25px;">入厂（职）时间</label>
                                                <div>
                                                    @*<span class="my-input mg-r-15" style="padding:0px 0px 0px 10px; width:165px; height:52px;">*@
                                                    @Html.TextBox("EntryDate", Model.EntryDate.ToString("yyyy-MM-dd"), new { style = "width:90%" })
                                                    <img style="width:35px;padding-top:5px;height:38px;" src="@Url.Content("~/Content/styles/static/images/time.png")" alt="">
                                                    @*</span>*@
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label>健康状况</label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.HealthStatus, new SelectList(new string[] { "请选择", "良好", "一般", "不良" }), null, new { @class = "block my-select" })
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label>血型</label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.Remark, new SelectList(new string[] { "请选择", "A", "B", "AB", "O" }), null, new { @class = "block my-select" })
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label style="line-height:25px;">是否为特种作业人员</label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.IsSpecial, new SelectList(new string[] { "否", "是" }))
                                                </div>
                                            </div>
                                            <div class="my-form-control">
                                                <label style="line-height:25px;">是否为特种设备作业人员</label>
                                                <div>
                                                    @Html.DropDownListFor(x => x.IsSpecialEquipment, new SelectList(new string[] { "否", "是" }))
                                                </div>
                                            </div>
                                            @*<div class="clearfix">
                                                    <div class="pull-left w-48-">
                                                        <div class="my-form-control">
                                                            <label>指纹录入</label>
                                                            <div class="pd-t-60">
                                                                <img src="~/Content/static/images/temp/zhiwen.png" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pull-left w-48-">
                                                        <div class="my-form-control">
                                                            <label>电子签名</label>
                                                            <div class="pd-t-60">
                                                                <img src="~/Content/static/images/temp/qianming.png" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            @*<div class="text-right mg-b-10" id="ed">
                                                    <button class="my-btn bd-3669e1 c-3669e1 bg-fff">修改密码</button>&nbsp;&nbsp;&nbsp;
                                                    <button class="my-btn bg-3669e1">编辑</button>
                                                </div>*@
                                            <div class="text-right" id="new">
                                                <button type="submit" onclick="if (valid() == false) return false;" class="my-btn bg-3669e1">保存</button>&nbsp;&nbsp;&nbsp;
                                                <button class="my-btn bg-3669e1" onclick="retlist(); return false;" style="background-color:gray;">取消</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <footer class="main-footer">
            武汉博晟安全技术股份有限公司   版权所有
        </footer>

    </div>
</div>
<script>
    $(function () {
        $("#Age,#WorkAge,#CurrentWorkAge").keyup(function () {
            if (this.value.length == 1) { this.value = this.value.replace(/[^1-9]/g, '') } else { this.value = this.value.replace(/\D/g, '') }
        });
        //$("#Age,#WorkAge,#CurrentWorkAge").afterpaste(function () {
        //    if (this.value.length == 1) { this.value = this.value.replace(/[^1-9]/g, '') } else { this.value = this.value.replace(/\D/g, '') }
        //});

    });
</script>
<div class="modal fade launch-modal" id="modal35" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-my" role="document">
        <div class="modal-content" style="height:200px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">验证输入</h4>
            </div>
            <div class="modal-body" style="text-align:center">
                <h4>手机号已存在请重新输入！</h4>
            </div>
            <div class="text-center mg-t-10" style="margin-top:10px;">
                <button class="btn bg-3669e1 c-fff" style="width:200px;" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade launch-modal" id="modal4" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="width:600px;height:400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">新增成功</h4>
            </div>
            <div class="modal-body" style="text-align:center">
                <h2>恭喜您，人员添加成功！</h2>
                <div style="width:320px;float:left">

                    <table style="margin-top:40px;margin-left:5px;text-align:center;">
                        <tr>
                            <td style="width:150px;"><h4>您的账号</h4></td>
                            <td style="width:100px; text-align:left">@Model.LinkWay</td>
                        </tr>
                        <tr>
                            <td style="width:150px;"><h4>您的密码</h4></td>
                            <td style="width:100px; text-align:left">@Model.PassWord</td>
                        </tr>
                    </table>

                </div>
                <div style="float:left;width: 200px; height: 125px; margin-top:10px;">
                    <img style="width: 125px; height: 125px;" src="@Url.Action("DownloadFile", "ResourceFile", new { keyValue = ViewBag.qr, area = "PublicInfoManage" })" alt="">
                </div>

                <label style="margin-top:25px;">如需修改账号密码，请登录平台或联系管理员</label>
                <div class="text-center mg-t-10" style="margin-top:15px;">
                    <button class="my-btn bg-3669e1" onclick="retlist(); return false;" style="">完成</button>
                    @*@Html.ActionLink("完成", "List", new { page = "1", pagesize = "10" }, new { style = "font-size:27px;font-weight:bold;" })*@
                    @*<button class="btn bg-3669e1 c-fff" style="width:200px;" data-dismiss="modal" onclick="backtolist();">完成</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade launch-modal" id="modal22" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-my" role="document">
        <div class="modal-content" style="height:200px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">验证输入</h4>
            </div>
            <div class="modal-body" style="text-align:center">
                <h4>身份证号码输入有误，请重新输入</h4>
            </div>
            <div class="text-center mg-t-10" style="margin-top:10px;">
                <button class="btn bg-3669e1 c-fff" style="width:200px;" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade launch-modal" id="modal23" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-my" role="document">
        <div class="modal-content" style="height:200px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">验证输入</h4>
            </div>
            <div class="modal-body" style="text-align:center">
                <h4>工种工龄不能大于工龄</h4>
            </div>
            <div class="text-center mg-t-10" style="margin-top:10px;">
                <button class="btn bg-3669e1 c-fff" style="width:200px;" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade launch-modal" id="modalzw" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-my" role="document">
        <div class="modal-content" style="height:200px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">验证输入</h4>
            </div>
            <div class="modal-body" style="text-align:center">
                <h4>工种工龄不能大于工龄</h4>
            </div>
            <div class="text-center mg-t-10" style="margin-top:10px;">
                <button class="btn bg-3669e1 c-fff" style="width:200px;" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
